@font-face {
  font-family: 'icomoon';
  src:  url('../icons/icomoon.eot?nltjva');
  src:  url('../icons/icomoon.eot?nltjva#iefix') format('embedded-opentype'),
    url('../icons/icomoon.ttf?nltjva') format('truetype'),
    url('../icons/icomoon.woff?nltjva') format('woff'),
    url('../icons/icomoon.svg?nltjva#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-Icon_"], [class*=" icon-Icon_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


[class^="icon-Icon_"]:before, [class*=" icon-Icon_"]:before {
    font-family: 'icomoon' !important;
    display: inline;
}






.icon-Icon_Check-Mark-Circle-Filled:before {
  content: "\e900";
}
.icon-Icon_Check-Mark-Circle:before {
  content: "\e93c";
}
.icon-Icon_Plus-Circle:before {
  content: "\e93d";
}
.icon-Icon_Check-Mark:before {
  content: "\e93e";
}
.icon-Icon_Plus:before {
  content: "\e93f";
}
.icon-Icon_Calendar-Alert:before {
  content: "\e940";
}
.icon-Icon_Close:before {
  content: "\e941";
}
.icon-Icon_Down-Arrow:before {
  content: "\e942";
}
.icon-Icon_Down-Carrot-Filled:before {
  content: "\e943";
}
.icon-Icon_Left-Arrow:before {
  content: "\e944";
}
.icon-Icon_Left-Carrot:before {
  content: "\e945";
}
.icon-Icon_Light-Bulb:before {
  content: "\e946";
}
.icon-Icon_Notification-Alert:before {
  content: "\e947";
}
.icon-Icon_Notification:before {
  content: "\e948";
}
.icon-Icon_Power:before {
  content: "\e949";
}
.icon-Icon_Profile:before {
  content: "\e94a";
}
.icon-Icon_Right-Arrow:before {
  content: "\e94b";
}
.icon-Icon_Right-Carrot:before {
  content: "\e94c";
}
.icon-Icon_Search:before {
  content: "\e94d";
}
.icon-Icon_Settings:before {
  content: "\e94e";
}
.icon-Icon_Up-Arrow:before {
  content: "\e94f";
}
.icon-Icon_Up-Carrot-Filled:before {
  content: "\e950";
}
.icon-Icon_Warning-Alert:before {
  content: "\e951";
}
