html {
  font-family: "Open Sans", Arial, sans-serif; }

body {
  background-color: #EDEEF2;
  font-family: "Open Sans", Arial, sans-serif !important;;
  font-weight: normal;
  font-size: 14px;
  -webkit-font-smoothing: antialiased; }

body.overlay-active {
  overflow: hidden; }

a, a:hover {
  text-decoration: none; }

a {
  color: #143B67; }

p {
  font-size: 14px;
  font-weight: normal;
  font-family: "Open Sans", Arial, sans-serif; }

h1, h2 {
  font-family: "PT Sans Narrow", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0; }

.fancy-scrollbar {
  /* width */
  /* Track */
  /* Handle */ }
  .fancy-scrollbar ::-webkit-scrollbar {
    width: 6px; }
  .fancy-scrollbar ::-webkit-scrollbar-track {
    border-radius: 3px;
    background-color: #ECEFF2;
    height: calc(100% - 4em); }
  .fancy-scrollbar ::-webkit-scrollbar-thumb {
    width: 6px;
    border-radius: 3px;
    background-color: #B2BDC8; }

.container {
  max-width: 1440px; }

.no-padding {
  padding: 0; }

.modal-backdrop {
  opacity: 0.7;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  background-color: #000; }

.color-white, .color-white a {
  color: #fff; }

.color-dark, .color-dark a {
  color: #373737; }

header {
  top: 0px;
  left: 0px;
  right: 0px;
  position: fixed;
  width: 100%;
  z-index: 10;
  user-select: none; }
  header .header-top {
    background-color: #205692;
    height: 48px;
    width: 100%;
    display: block;
    position: relative;
    padding: 0; }
    header .header-top .header-top-container {
      padding-left: 56px;
      padding-right: 56px; }
    header .header-top .gwiz-logo-block {
      position: relative;
      float: left;
      padding: 14px 8px 6px; }
      header .header-top .gwiz-logo-block a img.gwiz-logo-img {
        width: 48px;
        height: 26px; }
    header .header-top .account-block {
      position: relative;
      float: right;
      font-family: "PT Sans Narrow", sans-serif; }
      header .header-top .account-block .greeting-block {
        display: block;
        padding: 0px;
        float: right;
        position: relative; }
        header .header-top .account-block .greeting-block:hover .account-flyout {
          opacity: 1;
          pointer-events: all; }
        header .header-top .account-block .greeting-block .greeting-text {
          padding: 12px 16px;
          font-size: 15px;
          font-weight: bold;
          letter-spacing: 1px;
          line-height: 24px;
          text-align: right; }
          header .header-top .account-block .greeting-block .greeting-text span.icon {
            padding-left: 8px;
            padding-right: 4px;
            vertical-align: middle;
            font-size: 9px; }
        header .header-top .account-block .greeting-block:hover .greeting-text, header .header-top .account-block .greeting-block .greeting-text.active {
          background-color: rgba(0, 0, 0, 0.1); }
      header .header-top .account-block .account-flyout {
        opacity: 0;
        pointer-events: none;
        transition: all 0.2s linear;
        position: absolute;
        top: 48px;
        right: 0px;
        background-color: #ffffff;
        height: 160px;
        width: 225px;
        z-index: 11;
        box-shadow: 0 18px 50px 0 rgba(0, 0, 0, 0.4);
        padding: 0px 0px; }
        header .header-top .account-block .account-flyout ul {
          list-style: none;
          padding: 0;
          margin: 0; }
        header .header-top .account-block .account-flyout .flyout-item {
          color: #5F7388;
          font-family: "PT Sans Narrow"; }
          header .header-top .account-block .account-flyout .flyout-item:not(:last-child) .flyout-link:after {
            content: " ";
            height: 2px;
            width: 184px;
            border-top: 1px solid #ECECEC;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            bottom: 0; }
          header .header-top .account-block .account-flyout .flyout-item .flyout-link {
            padding: 8px 24px;
            display: block;
            font-size: 16px;
            font-weight: 700;
            line-height: 38px;
            position: relative;
            color: #5F7388;
            transition: all 0.2s linear; }
            header .header-top .account-block .account-flyout .flyout-item .flyout-link:before {
              content: " ";
              opacity: 0;
              position: absolute;
              left: -2px;
              height: 35px;
              width: 4px;
              background-color: #48C2C5;
              margin: auto 0;
              top: 0;
              bottom: 0;
              transition: all 0.2s ease; }
            header .header-top .account-block .account-flyout .flyout-item .flyout-link:hover {
              color: #48C2C5; }
              header .header-top .account-block .account-flyout .flyout-item .flyout-link:hover:before {
                opacity: 1;
                left: -2px; }
            header .header-top .account-block .account-flyout .flyout-item .flyout-link span.icon {
              float: right;
              margin-top: 12px; }
    header .header-top .notifications {
      display: block;
      padding: 16px 16px;
      float: right; }
      header .header-top .notifications:hover {
        background-color: rgba(0, 0, 0, 0.1); }
        header .header-top .notifications:hover .notifications-flyout {
          opacity: 1;
          pointer-events: all; }
      header .header-top .notifications .notification-icon {
        height: 17px;
        width: 14px;
        display: block;
        background-repeat: no-repeat;
        position: relative; }
        header .header-top .notifications .notification-icon span.icon {
          color: #fff;
          font-size: 17px; }
        header .header-top .notifications .notification-icon .notif-alert {
          display: none;
          position: absolute;
          box-sizing: border-box;
          height: 12px;
          width: 12px;
          border: 1px solid #205692;
          background-color: #FF354E;
          margin: 0;
          padding: 0;
          top: -2px;
          right: -6px;
          border-radius: 100%; }
          header .header-top .notifications .notification-icon .notif-alert.active {
            display: block; }
      header .header-top .notifications .notifications-flyout {
        top: 48px;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        transition: all 0.2s linear;
        right: 0px;
        background-color: #ffffff;
        width: 478px;
        z-index: 11;
        box-shadow: 0 18px 50px 0 rgba(0, 0, 0, 0.4);
        padding: 0px 0px; }
        header .header-top .notifications .notifications-flyout.active {
          display: block; }
        header .header-top .notifications .notifications-flyout .notifications-header {
          height: 56px;
          border-bottom: 2px solid #E5E5E5;
          position: relative; }
          header .header-top .notifications .notifications-flyout .notifications-header .title {
            line-height: 56px;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto 16px;
            display: block;
            padding: 0px 8px;
            color: #5F7388;
            font-family: "PT Sans Narrow";
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1px; }
          header .header-top .notifications .notifications-flyout .notifications-header .dismiss-all {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto 24px;
            height: 56px;
            line-height: 56px;
            color: #48C2C5;
            font-family: "Open Sans";
            font-size: 12px;
            font-weight: 600;
            text-align: right; }
        header .header-top .notifications .notifications-flyout .notifications-feed {
          max-height: 450px;
          overflow-y: hidden;
          overflow-x: hidden;
          position: relative; }
          header .header-top .notifications .notifications-flyout .notifications-feed:hover {
            overflow-y: scroll; }
            header .header-top .notifications .notifications-flyout .notifications-feed:hover .notification-item {
              margin-right: -6px; }
          header .header-top .notifications .notifications-flyout .notifications-feed .notification-item {
            height: 116px;
            position: relative;
            padding: 16px 0px;
            transition: background-color .2s linear; }
            header .header-top .notifications .notifications-flyout .notifications-feed .notification-item:not(:last-child):after {
              content: " ";
              position: absolute;
              display: block;
              bottom: 0;
              width: 420px;
              height: 2px;
              left: 0;
              right: 0;
              margin: 0 auto;
              border: 1px solid #E5E5E5;
              opacity: 0.6; }
            header .header-top .notifications .notifications-flyout .notifications-feed .notification-item .notif-type-icon {
              display: block;
              text-align: center;
              line-height: 84px;
              font-size: 32px;
              margin-right: -24px;
              color: #143B67; }
              header .header-top .notifications .notifications-flyout .notifications-feed .notification-item .notif-type-icon.notif-yellow {
                color: #FED311; }
              header .header-top .notifications .notifications-flyout .notifications-feed .notification-item .notif-type-icon.notif-red {
                color: #FF4848; }
              header .header-top .notifications .notifications-flyout .notifications-feed .notification-item .notif-type-icon.notif-green {
                color: #48C2C5; }
            header .header-top .notifications .notifications-flyout .notifications-feed .notification-item .notif-item-content {
              height: 84px;
              position: relative; }
              header .header-top .notifications .notifications-flyout .notifications-feed .notification-item .notif-item-content .title {
                color: #205692;
                font-family: "Open Sans";
                font-size: 15px;
                font-weight: 600;
                line-height: 22px;
                margin-bottom: 8px; }
              header .header-top .notifications .notifications-flyout .notifications-feed .notification-item .notif-item-content .excerpt {
                color: #373737;
                font-family: "Open Sans";
                font-size: 14px;
                line-height: 22px; }
              header .header-top .notifications .notifications-flyout .notifications-feed .notification-item .notif-item-content .notif-dismiss {
                position: absolute;
                top: 4px;
                right: 0;
                height: 12px;
                width: 12px; }
                header .header-top .notifications .notifications-flyout .notifications-feed .notification-item .notif-item-content .notif-dismiss:before {
                  content: " ";
                  position: absolute;
                  top: 0;
                  bottom: 0;
                  margin: auto 0;
                  right: 0;
                  width: 12px;
                  height: 1px;
                  background-color: #989EA4;
                  transform: rotate(45deg); }
                header .header-top .notifications .notifications-flyout .notifications-feed .notification-item .notif-item-content .notif-dismiss:after {
                  content: " ";
                  position: absolute;
                  top: 0;
                  bottom: 0;
                  margin: auto 0;
                  right: 0;
                  width: 12px;
                  height: 1px;
                  background-color: #989EA4;
                  transform: rotate(-45deg); }
            header .header-top .notifications .notifications-flyout .notifications-feed .notification-item .notification-category {
              color: #989EA4;
              font-family: "Open Sans";
              font-size: 12px;
              line-height: 22px;
              position: absolute;
              bottom: 0px;
              left: 15px; }
            header .header-top .notifications .notifications-flyout .notifications-feed .notification-item .notification-time {
              color: #373737;
              font-family: "Open Sans";
              font-size: 12px;
              line-height: 22px;
              text-align: right;
              position: absolute;
              bottom: 0px;
              right: 32px; }
            header .header-top .notifications .notifications-flyout .notifications-feed .notification-item.notif-important .notification-time, header .header-top .notifications .notifications-flyout .notifications-feed .notification-item.notif-important .notif-item-content .excerpt, header .header-top .notifications .notifications-flyout .notifications-feed .notification-item.notif-important .notif-item-content .title {
              font-weight: bold; }
            header .header-top .notifications .notifications-flyout .notifications-feed .notification-item .notif-item-link {
              position: absolute;
              top: 0;
              left: 0;
              height: 100%;
              z-index: 2;
              width: calc(100% - 44px); }
            header .header-top .notifications .notifications-flyout .notifications-feed .notification-item:hover {
              background-color: rgba(95, 115, 136, 0.08); }
        header .header-top .notifications .notifications-flyout .notif-view-all {
          height: 56px;
          width: 100%;
          position: relative;
          background-color: #48C2C5;
          transition: all 0.2s linear;
          display: block;
          color: #FFFFFF;
          font-family: "Open Sans";
          font-size: 12px;
          font-weight: bold;
          line-height: 56px;
          text-align: center;
          text-transform: uppercase; }
          header .header-top .notifications .notifications-flyout .notif-view-all:hover {
            background-color: #42B2B5; }
  header .header-nav {
    height: 128px;
    width: 100%;
    display: block;
    position: relative;
    transition: all 0.04s linear;
    background-color: #fff; }
    header .header-nav .header-nav-container {
      padding-left: 56px;
      padding-right: 56px; }
    header .header-nav .logo-block {
      position: relative;
      padding: 32px 0px;
      display: flex;
      align-items: center;
      height: 100%;
      transition: all 0.04s linear; }
      header .header-nav .logo-block img.logo-img {
        height: auto;
        width: 100%;
        max-width: 260px;
        transition: all 0.04s linear; }
    header .header-nav .navigation-menu {
      transition: all 0.2s linear;
      float: right;
      height: 100%;
      padding: 32px 0px;
      position: relative; }
      header .header-nav .navigation-menu ul {
        list-style: none;
        float: left;
        height: 100%;
        overflow: hidden;
        margin: 0;
        padding: 0; }
        header .header-nav .navigation-menu ul li.menu-item {
          display: block;
          float: left;
          position: relative;
          margin: 0;
          padding: 0; }
          header .header-nav .navigation-menu ul li.menu-item a.menu-link {
            padding-right: 16px;
            padding-left: 16px;
            display: block;
            font-size: 16px;
            font-weight: 700;
            line-height: 64px;
            color: #143B67;
            transition: all 0.2s linear; }
            header .header-nav .navigation-menu ul li.menu-item a.menu-link span.icon {
              padding: 0px 8px;
              font-size: 9px;
              vertical-align: middle; }
          header .header-nav .navigation-menu ul li.menu-item.menu-search a.menu-link {
            transition: all 0.2s linear;
            line-height: 64px;
            padding-top: 0;
            padding-bottom: 0;
            margin: auto 0; }
            header .header-nav .navigation-menu ul li.menu-item.menu-search a.menu-link span.icon {
              font-size: 16px; }
    header .header-nav.sticky {
      height: 75px;
      box-shadow: 0px 7px 15px rgba(84, 84, 84, 0.1);
      transition: all 0.2s linear; }
      header .header-nav.sticky .logo-block {
        padding: 10px 0px; }
        header .header-nav.sticky .logo-block img.logo-img {
          max-width: 212px; }
      header .header-nav.sticky .navigation-menu {
        padding: 16px 0px; }
        header .header-nav.sticky .navigation-menu a.menu-link {
          line-height: 40px !important; }

.main-container {
  margin-top: 176px; }

section {
  overflow: hidden; }

.section-hero {
  background-color: #EDEEF2;
  padding-top: 0px;
  padding-bottom: 0px; }
  .section-hero .hero-block {
    height: 560px; }
    .section-hero .hero-block .row {
      margin: 0; }
    .section-hero .hero-block .nopadding {
      padding: 0; }
    .section-hero .hero-block .hero-container {
      padding-left: 56px;
      padding-right: 56px; }
    .section-hero .hero-block .hero-item {
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      overflow: hidden; }
      .section-hero .hero-block .hero-item .hero-item-bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center center;
        z-index: 0;
        transition: all 0.4s ease; }
        .section-hero .hero-block .hero-item .hero-item-bg:before {
          content: "";
          opacity: 0;
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background-color: rgba(0, 0, 0, 0.15);
          transition: all 0.4s ease; }
      .section-hero .hero-block .hero-item:hover .hero-item-bg {
        transform: scale(1.03); }
        .section-hero .hero-block .hero-item:hover .hero-item-bg:before {
          opacity: 1; }
      .section-hero .hero-block .hero-item.square-block, .section-hero .hero-block .hero-item.long-block {
        height: calc(560px / 2); }
      .section-hero .hero-block .hero-item.large-block {
        height: 560px;
        padding: 410px 40px 40px; }
        .section-hero .hero-block .hero-item.large-block .hero-item-info .title {
          margin-bottom: 4px;
          display: block; }
        .section-hero .hero-block .hero-item.large-block .hero-item-info .date {
          margin-bottom: 13px;
          display: block; }
      .section-hero .hero-block .hero-item .hero-item-info {
        position: absolute;
        left: 25px;
        bottom: 20px;
        padding-right: 80px;
        z-index: 2; }
        .section-hero .hero-block .hero-item .hero-item-info .title {
          font-size: 24px;
          font-weight: 700; }
        .section-hero .hero-block .hero-item .hero-item-info .date {
          opacity: 0.8;
          font-size: 13px;
          font-weight: normal; }
        .section-hero .hero-block .hero-item .hero-item-info .excerpt {
          line-height: 24px; }
      .section-hero .hero-block .hero-item .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0.6) 100%);
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0.6) 100%);
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0.6) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#0a000000',GradientType=0 ); }
      .section-hero .hero-block .hero-item .hero-item-link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3; }

.section-news {
  background-color: #EDEEF2;
  padding-top: 40px;
  padding-bottom: 40px; }
  .section-news .pill-slider {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0; }
    .section-news .pill-slider .pill {
      position: absolute;
      left: 0;
      top: 34px;
      background-color: #48C2C5;
      box-shadow: 2px 6px 18px 0 rgba(72, 194, 197, 0.48);
      transition: all 0.4s cubic-bezier(0.13, 0, 0, 1);
      border-radius: 20.5px;
      height: 42px;
      width: 100%;
      max-width: 200px;
      padding: 8px 32px;
      z-index: 1; }
  .section-news .news-container {
    padding-left: 56px;
    padding-right: 56px; }
  .section-news .news-block {
    box-shadow: 2px 4px 15px 0 rgba(0, 0, 0, 0.12);
    background-color: #fff;
    height: 520px;
    overflow: hidden;
    position: relative; }
    .section-news .news-block .news-sidebar {
      padding: 40px 48px;
      position: relative;
      display: block;
      height: 100%;
      width: 100%; }
      .section-news .news-block .news-sidebar:after {
        content: " ";
        position: absolute;
        right: 0;
        top: 0;
        box-sizing: border-box;
        height: 100%;
        width: 2px;
        border-left: 1px solid #DCE4EC; }
      .section-news .news-block .news-sidebar .news-heading {
        font-size: 32px;
        font-weight: bold;
        line-height: 24px;
        color: #143B67; }
      .section-news .news-block .news-sidebar .news-menu {
        padding: 32px 0px;
        margin-left: -16px;
        position: relative; }
        .section-news .news-block .news-sidebar .news-menu ul {
          list-style: none;
          margin: 0;
          padding: 0;
          z-index: 3;
          position: absolute; }
          .section-news .news-block .news-sidebar .news-menu ul .news-menu-item {
            display: block;
            padding: 4px 0px; }
            .section-news .news-block .news-sidebar .news-menu ul .news-menu-item .news-menu-link {
              color: #205692;
              transition: all 0.3s cubic-bezier(0.53, 0.03, 0.88, 0.37);
              padding: 8px 32px;
              color: #205692;
              font-size: 14px;
              font-weight: bold;
              line-height: 24px;
              display: block;
              height: 42px;
              width: 100%;
              max-width: 200px;
              text-transform: uppercase; }
              .section-news .news-block .news-sidebar .news-menu ul .news-menu-item .news-menu-link.active {
                color: #fff; }
    .section-news .news-block .news-feed-container {
      padding: 32px 32px 32px 0px;
      height: 520px; }
      .section-news .news-block .news-feed-container .news-block-title {
        position: relative;
        margin-bottom: 16px; }
        .section-news .news-block .news-feed-container .news-block-title h4 {
          color: #58595B;
          font-size: 20px;
          font-weight: bold;
          line-height: 20px; }
        .section-news .news-block .news-feed-container .news-block-title .view-all {
          position: absolute;
          right: 0;
          top: 0;
          color: #205692;
          font-size: 14px;
          line-height: 18px;
          text-align: right;
          text-decoration: underline; }
      .section-news .news-block .news-feed-container .news-dynamic {
        display: none; }
        .section-news .news-block .news-feed-container .news-dynamic.department-block .scroll-feed {
          overflow-y: hidden;
          overflow-x: hidden;
          height: 412px;
          padding-bottom: 150px; }
          .section-news .news-block .news-feed-container .news-dynamic.department-block .scroll-feed:hover {
            overflow-y: scroll; }
            .section-news .news-block .news-feed-container .news-dynamic.department-block .scroll-feed:hover .notification-item {
              margin-right: -6px; }
          .section-news .news-block .news-feed-container .news-dynamic.department-block .scroll-feed:after {
            content: "";
            position: absolute;
            z-index: 1;
            bottom: 0;
            left: 0;
            pointer-events: none;
            background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), white 90%);
            width: 100%;
            height: 4em; }
        .section-news .news-block .news-feed-container .news-dynamic .news-feed-content {
          position: relative;
          margin-left: 78px;
          margin-top: 16px; }
        .section-news .news-block .news-feed-container .news-dynamic .news-feed-item {
          position: relative;
          padding: 4px 30px 26px 4px;
          font-family: "Open Sans", Arial, sans-serif; }
          .section-news .news-block .news-feed-container .news-dynamic .news-feed-item .news-feed-img {
            height: 64px;
            width: 64px;
            border: 3px solid #FFFFFF;
            box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
            border-radius: 100%;
            position: absolute;
            overflow: hidden;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat; }
          .section-news .news-block .news-feed-container .news-dynamic .news-feed-item .news-feed-title {
            color: #205692;
            font-size: 16px;
            font-weight: bold;
            line-height: 22px;
            margin: 0px 0px 4px; }
          .section-news .news-block .news-feed-container .news-dynamic .news-feed-item .news-feed-date {
            color: #5F7388;
            font-size: 12px;
            font-weight: bold;
            line-height: 22px; }
          .section-news .news-block .news-feed-container .news-dynamic .news-feed-item .news-feed-source {
            color: #48C2C5;
            font-size: 12px;
            font-style: italic;
            font-weight: bold;
            line-height: 22px;
            margin-left: 23px;
            position: relative; }
            .section-news .news-block .news-feed-container .news-dynamic .news-feed-item .news-feed-source:before {
              content: " ";
              position: absolute;
              left: -18px;
              top: 7px;
              box-sizing: border-box;
              height: 2px;
              width: 10px;
              border: 1px solid #DCE4EC; }
          .section-news .news-block .news-feed-container .news-dynamic .news-feed-item .news-feed-excerpt {
            color: #989EA4;
            font-size: 14px;
            line-height: 22px;
            margin: 8px 0px 0px; }
          .section-news .news-block .news-feed-container .news-dynamic .news-feed-item .news-feed-item-link {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%; }
      .section-news .news-block .news-feed-container .kudos-block .kudos-title {
        position: relative;
        margin-bottom: 16px; }
        .section-news .news-block .news-feed-container .kudos-block .kudos-title h4 {
          color: #58595B;
          font-size: 20px;
          font-weight: bold;
          line-height: 20px; }
        .section-news .news-block .news-feed-container .kudos-block .kudos-title .view-all {
          position: absolute;
          right: 0;
          top: 0;
          color: #205692;
          font-size: 14px;
          line-height: 18px;
          text-align: right;
          text-decoration: underline; }
      .section-news .news-block .news-feed-container .kudos-block .kudos-feed-item {
        position: relative;
        padding: 0px 0px 16px 4px;
        font-family: "Open Sans", Arial, sans-serif; }
        .section-news .news-block .news-feed-container .kudos-block .kudos-feed-item .kudos-feed-content {
          position: relative;
          margin-left: 78px;
          margin-top: 16px; }
        .section-news .news-block .news-feed-container .kudos-block .kudos-feed-item .kudos-feed-img {
          height: 64px;
          width: 64px;
          border: 3px solid #FFFFFF;
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
          border-radius: 100%;
          position: absolute;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat; }
        .section-news .news-block .news-feed-container .kudos-block .kudos-feed-item .kudos-feed-title {
          color: #205692;
          font-size: 16px;
          font-weight: bold;
          line-height: 22px;
          margin: 0px 0px 4px; }
        .section-news .news-block .news-feed-container .kudos-block .kudos-feed-item .kudos-feed-excerpt {
          color: #989EA4;
          font-size: 14px;
          line-height: 22px;
          margin: 8px 0px 0px; }
        .section-news .news-block .news-feed-container .kudos-block .kudos-feed-item .kudos-feed-item-link {
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 100%;
          height: 100%; }
      .section-news .news-block .news-feed-container .applause-block .applause-title {
        position: relative;
        margin-bottom: 8px;
        margin-top: 8px; }
        .section-news .news-block .news-feed-container .applause-block .applause-title h4 {
          color: #58595B;
          font-size: 20px;
          font-weight: bold;
          line-height: 20px; }
        .section-news .news-block .news-feed-container .applause-block .applause-title .view-all {
          position: absolute;
          right: 0;
          top: 0;
          color: #205692;
          font-size: 14px;
          line-height: 18px;
          text-align: right;
          text-decoration: underline; }
      .section-news .news-block .news-feed-container .applause-block ul {
        list-style: none;
        margin: 0;
        padding: 0; }
        .section-news .news-block .news-feed-container .applause-block ul .applause-feed-item {
          display: block;
          width: 100%;
          padding: 8px 0px; }
          .section-news .news-block .news-feed-container .applause-block ul .applause-feed-item .applause-feed-link {
            color: #205692;
            font-size: 16px;
            line-height: 32px;
            width: 100%;
            display: block;
            position: relative; }
            .section-news .news-block .news-feed-container .applause-block ul .applause-feed-item .applause-feed-link img {
              float: right;
              vertical-align: middle;
              transition: all 0.2s linear;
              right: 12px;
              margin: auto 0;
              display: block;
              position: absolute;
              top: 0;
              bottom: 0; }
            .section-news .news-block .news-feed-container .applause-block ul .applause-feed-item .applause-feed-link:hover img {
              right: 0px; }
  .section-news .links-block {
    background-color: #205692;
    box-shadow: 2px 4px 15px 0 rgba(0, 0, 0, 0.12);
    padding: 40px 0px 35px;
    height: 520px;
    overflow: hidden;
    color: #fff; }
    .section-news .links-block .links-heading {
      font-size: 32px;
      font-weight: bold;
      line-height: 24px;
      text-align: center;
      margin-bottom: 32px; }
    .section-news .links-block .links-feed-container {
      position: relative;
      overflow: hidden; }
    .section-news .links-block .links-feed-nav {
      position: absolute;
      bottom: 32px;
      width: 64px;
      margin: 0 auto;
      left: 0;
      right: 0; }
      .section-news .links-block .links-feed-nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center; }
      .section-news .links-block .links-feed-nav .link-nav-dot {
        display: inline-block;
        opacity: 0.5;
        background-color: #fff;
        padding: 0px 2px;
        margin: 0 3px;
        color: transparent;
        font-size: 11px;
        transition: opacity 0.2s ease;
        cursor: pointer;
        width: 11px;
        height: 11px;
        border-radius: 100%; }
        .section-news .links-block .links-feed-nav .link-nav-dot.active, .section-news .links-block .links-feed-nav .link-nav-dot:hover {
          opacity: 1; }
    .section-news .links-block .links-feed {
      width: 300%;
      transition: all 0.5s ease; }
      .section-news .links-block .links-feed .links-feed-page {
        padding: 0px;
        width: calc(100% / 3);
        float: left;
        padding: 0px 48px; }
        .section-news .links-block .links-feed .links-feed-page ul {
          list-style: none;
          margin: 0;
          padding: 0; }
          .section-news .links-block .links-feed .links-feed-page ul .links-feed-item {
            display: block;
            width: 100%;
            padding: 8px 0px; }
            .section-news .links-block .links-feed .links-feed-page ul .links-feed-item .links-feed-link {
              color: #fff;
              font-size: 16px;
              line-height: 32px;
              width: 100%;
              display: block;
              position: relative; }
              .section-news .links-block .links-feed .links-feed-page ul .links-feed-item .links-feed-link img {
                float: right;
                vertical-align: middle;
                transition: all 0.2s linear;
                right: 12px;
                margin: auto 0;
                display: block;
                position: absolute;
                top: 0;
                bottom: 0; }
              .section-news .links-block .links-feed .links-feed-page ul .links-feed-item .links-feed-link:hover img {
                right: 0px; }
      .section-news .links-block .links-feed[data-current-active=".linksPage1"] {
        margin-left: 0%; }
      .section-news .links-block .links-feed[data-current-active=".linksPage2"] {
        margin-left: -100%; }
      .section-news .links-block .links-feed[data-current-active=".linksPage3"] {
        margin-left: -200%; }

.training-block .your-training-block .training-title {
  position: relative;
  margin-bottom: 40px; }
  .training-block .your-training-block .training-title h4 {
    color: #58595B;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px; }
  .training-block .your-training-block .training-title .view-all {
    position: absolute;
    right: 0;
    top: 0;
    color: #205692;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    text-decoration: underline; }
.training-block .your-training-block .training-feed-item {
  padding: 0px 0px 16px 4px; }
.training-block .your-training-block .training-feed-content {
  position: relative;
  margin-left: 78px;
  margin-top: 16px; }
.training-block .your-training-block .training-feed-img {
  height: 64px;
  width: 64px;
  border: 3px solid #FFFFFF;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  background-color: #48C2C5;
  border-radius: 100%;
  position: absolute;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
  line-height: 58px;
  font-size: 24px; }
.training-block .your-training-block .training-feed-title {
  color: #205692;
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
  margin: 0px 0px 4px; }
.training-block .your-training-block .training-feed-date {
  color: #5F7388;
  font-size: 12px;
  font-style: italic;
  line-height: 22px; }
.training-block .your-training-block .training-feed-item-link {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%; }

.megamenu {
  display: none;
  height: 401px;
  background-color: #fff;
  z-index: 10;
  overflow: visible;
  border-top: 1px solid #DCE4EC; }
  .megamenu.active {
    display: block; }
  .megamenu .departments-row .departments-col {
    height: 200px;
    position: relative;
    transition: all 0.2s ease;
    background: linear-gradient(163.81deg, #fff 0%, #fff 100%); }
    .megamenu .departments-row .departments-col:not(:last-child):after {
      content: " ";
      position: absolute;
      right: 0;
      top: calc(50% - 40px);
      box-sizing: border-box;
      height: 80px;
      width: 1px;
      border: 0.5px solid #DCE4EC; }
    .megamenu .departments-row .departments-col .title-block {
      color: #959FAA;
      font-size: 16px;
      font-weight: 700;
      line-height: 22px;
      text-align: center;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      top: 120px;
      padding: 0 32px; }
    .megamenu .departments-row .departments-col .img-block {
      position: absolute;
      margin: 0 auto;
      left: 0;
      right: 0;
      bottom: 90px;
      display: block;
      width: 75%; }
      .megamenu .departments-row .departments-col .img-block img {
        display: block;
        width: auto;
        height: auto;
        margin: 0 auto; }
    .megamenu .departments-row .departments-col .menu-card-link {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%; }
    .megamenu .departments-row .departments-col:hover {
      box-shadow: 15px 15px 45px 0 rgba(0, 0, 0, 0.23);
      z-index: 100; }
      .megamenu .departments-row .departments-col:hover:after {
        display: none; }
      .megamenu .departments-row .departments-col:hover .img-block img {
        filter: brightness(0) invert(1); }
      .megamenu .departments-row .departments-col:hover .title-block {
        color: #fff; }
      .megamenu .departments-row .departments-col:hover.color1 {
        background: linear-gradient(163.81deg, #004E85 0%, #083B69 100%); }
      .megamenu .departments-row .departments-col:hover.color2 {
        background: linear-gradient(163.81deg, #004E85 0%, #083B69 100%); }
      .megamenu .departments-row .departments-col:hover.color3 {
        background: linear-gradient(163.81deg, #004E85 0%, #083B69 100%); }
      .megamenu .departments-row .departments-col:hover.color4 {
        background: linear-gradient(163.81deg, #004E85 0%, #083B69 100%); }
      .megamenu .departments-row .departments-col:hover.color5 {
        background: linear-gradient(163.81deg, #004E85 0%, #083B69 100%); }
      .megamenu .departments-row .departments-col:hover.color6 {
        background: linear-gradient(163.81deg, #004E85 0%, #083B69 100%); }
      .megamenu .departments-row .departments-col:hover.color7 {
        background: linear-gradient(163.81deg, #C66BB7 0%, #AC63A0 100%); }
      .megamenu .departments-row .departments-col:hover.color8 {
        background: linear-gradient(163.81deg, #004E85 0%, #083B69 100%); }

footer {
  background-color: #205692;
  padding: 32px 0 40px 0; }
  footer .container {
    padding-left: 56px;
    padding-right: 56px; }
  footer .footer-links {
    color: #fff;
    font-size: 14px;
    line-height: 64px;
    text-align: center;
    padding: 8px 0px; }
    footer .footer-links a {
      margin: 0 8px; }
  footer .disclaimer {
    color: #fff;
    font-size: 12px;
    line-height: 17px;
    text-align: center; }
  footer .footer-logo-block {
    position: relative;
    padding: 0px 0px;
    display: flex;
    align-items: center;
    height: 64px; }
    footer .footer-logo-block img {
      height: auto;
      width: 150px; }
  footer .back-to-top {
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    line-height: 64px;
    padding: 8px 0px; }
    footer .back-to-top span.icon {
      margin-right: 8px; }

/*# sourceMappingURL=main.css.map */
