div.ctools-modal-content.ctools-modal-builder-modal-content .modal-header{
  background-color: #f3f4ee;
  padding: 8px 13px;

}
div.ctools-modal-content.ctools-modal-builder-modal-content .modal-header .modal-title{
  font-size: 15px;
  color: #000;
}
div.ctools-modal-content.ctools-modal-builder-modal-content a.close{
  color: #000;
}
div.ctools-modal-content.ctools-modal-builder-modal-content{
  border: 1px solid #ccc;
}
div.ctools-modal-content.ctools-modal-builder-modal-content div.vertical-tabs:before,div.ctools-modal-content.ctools-modal-builder-modal-content div.vertical-tabs:after{
  content: ' ';
  display: table;
}
div.ctools-modal-content.ctools-modal-builder-modal-content div.vertical-tabs:after{
  clear: both;
}
div.ctools-modal-content.ctools-modal-builder-modal-content div.vertical-tabs .vertical-tabs-panes{
  overflow: hidden; 
}
div.ctools-modal-content.ctools-modal-builder-modal-content div.vertical-tabs .vertical-tabs-panes .fieldset-wrapper{
  margin-top: 0;
}
div.ctools-modal-content.ctools-modal-builder-modal-content .form-type-textarea label{
  display: block;
  float: none;
}
div.ctools-modal-content.ctools-modal-builder-modal-content .vertical-tabs #edit-settings-grid .form-item.form-type-select label{
  display: block;
  float: left;
}
div.ctools-modal-content.ctools-modal-builder-modal-content .form-type-textarea .form-textarea-wrapper{
  margin-left: 0;
  margin-right: 0;
}
div.ctools-modal-content.ctools-modal-builder-modal-content .vertical-tabs .form-item label{
  display: block;
  float: none;
}
div.ctools-modal-content.ctools-modal-builder-modal-content .vertical-tabs .form-item.form-type-checkbox label{
  display: inline;
  float: none;
}
div.ctools-modal-content.ctools-modal-builder-modal-content .form-item label{
  width: 16em;
}
div.ctools-modal-content.ctools-modal-builder-modal-content .form-item-settings-background-use-parallax label{
  font-weight: bold;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family:"fontello";
}
/* Responsive Preview */
/* .page-user-dashboard ul#responsive-preview-navbar-tab, .page-admin ul#responsive-preview-navbar-tab{
	display:none !important;
} */
ul#responsive-preview-navbar-tab .responsive-preview-device {
	background: none;
	border: none;
	color: #EEE;
	cursor: pointer;
	font: inherit;
	line-height: 1;
	margin: 0;
	padding: 0.25em 0;
}
ul#responsive-preview-navbar-tab {
	margin-bottom : 0;
}
ul#responsive-preview-navbar-tab li {
	display: inline-block;
	border-right: 1px solid #323232;
	padding:0px 8px;
}
ul#responsive-preview-navbar-tab li.last {
	display:none;
}
.responsive-preview-frame #admin-menu{
	display:none;
}
body.responsive-preview-frame{
	margin-top: 0 !important;
}
.quarter,
.half_width,
.three_quarters,
.full_width {
	height: 30px;
	border: 1px solid #646464;
	display: inline-block;
	background-image: -webkit-repeating-linear-gradient(135deg, rgba(0,0,0,.3), rgba(0,0,0,.3) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
	background-image: -moz-repeating-linear-gradient(135deg, rgba(0,0,0,.3), rgba(0,0,0,.3) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
	background-image: -o-repeating-linear-gradient(135deg, rgba(0,0,0,.3), rgba(0,0,0,.3) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
	background-image: repeating-linear-gradient(135deg, rgba(0,0,0,.3), rgba(0,0,0,.3) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
	-webkit-background-size: 4px 4px;
	-moz-background-size: 4px 4px;
	background-size: 4px 4px;
}
#edit-settings-grid-lg input[type=radio] {
	vertical-align: super;
}
.quarter {
	width: 32px;
}
.half_width {
	width: 50px;
}
.three_quarters {
	width: 69px;
}
.full_width {
	width: 104px;
}
.popup_back_button{float:right;}
img.admin-menu-icon {
    height: 15px;
}