/*Start: overriding Blackflagship styles*/
html,body,p {
  font-family: "Open Sans", Arial, sans-serif !important;
}
.settings-modal .tag-search-bar .form-autocomplete,.settings-modal .tag-search-bar input.form-autocomplete.throbbing{
	background-image:none !important;
}
.account-flyout {height:auto !important;}
/*End: overriding Blackflagship styles*/
/* Breadcrum display none for edit pages*/
.page-node-edit section.subheader,
.page-node-add section.subheader,
.page-search-results section.subheader,
.page-solr-search section.subheader,
.page-search-people section.subheader,
.page-search-gwiz section.subheader {
	display:none;
}
/*End Breadcrum display none for edit pages*/
.interior-sidebar .submenu-container ul.submenu li.submenu-item a.submenu-item-link {
	font-weight:unset;
}
.interior-sidebar .sidebar-menu ul.menu li.menu-item.has-submenu.active .submenu-container, .mobile-subheader-menu .sidebar-menu ul.menu li.menu-item.has-submenu.active .submenu-container{
	overflow: inherit;
}
.section-news .news-block .news-feed-container .applause-block ul .applause-feed-item .applause-feed-link{
	font-weight: normal;
}
.interior-sidebar a{
	text-decoration: none !important;
}
.commercial-page.interior-page header .header-nav .navigation-menu ul li.menu-item a.menu-link{
	color: #205692;
} 
.page-node-21347 .interior-page header .header-nav .navigation-menu ul li.menu-item a.menu-link,
.page-node-21341 .interior-page header .header-nav .navigation-menu ul li.menu-item a.menu-link, 
.page-node-21337 .interior-page header .header-nav .navigation-menu ul li.menu-item a.menu-link {
  color: #fff;
}
@media (min-width: 991px) {
	.node .field-name-field-microsite-builder.col-md-9 {
		margin-left: 0px !important;
		margin-right: 0px !important;
	}
}
.node-microsite .microsite-content {
  margin: auto 0 !important;
}
.all-news-feed article.news-item .title a,.all-kudos-feed article.kudos-item .title a{
	color: #205692;
}
/* Start: Builder drag and drop icons */
body.page-node-edit section.main-content [class^="icon-"]:before,
body.page-node-edit section.main-content [class*=" icon-"]:before {
	font-family:"fontello","commercialportal" !important;
	display:inline;
}
/* End: Builder drag and drop icons */
.megamenu .departments-row .departments-col .img-block img.white-depart-logo{
	left:0 !important;
	right:0 !important;
}
.about-cmg-megamenu .about-cmg-row .about-menu-col .submenu .submenu-item .tertiary-menu,.megamenu .departments-row .departments-col .dep-submenu .submenu-item .tertiary-menu{
	display:inline-block !important;
}
.microsite .node-photo-stories .media{
	display: block;
}
/* .interior-page .header-nav .logo-img, .interior-page .header-nav .interior-logo-img {
    max-width: 200px !important;
} */
.search-form button, .search-bar .search-submit button{
  background: transparent;
  border: none;
  display: block;
}
.search-form .search-field span.icon {
  margin: 16px 0 !important;
}
.page-solr-search .subheader {
  display: block !important;
}
.commercial-content-tab .search-tab-header,
.people-content-tab .search-tab-header .title {
  display: none;
}
.events-header .the-week {
  font-size: 36px;
}
.pager-load-more .pager-next {
  display: inline-block !important;
}
.front .main-container .field-collection-container{
	border-bottom: 0px;
}
/*Settings modal popup*/
.settings-modal .collapse.show{
	visibility: visible !important;
}
.settings-modal #manageAccordion #manageLinksHeading a:hover, .settings-modal #manageAccordion #manageTopicsHeading a:hover{
	color: #406473;
}
.settings-modal .tag-select-block .scroll-alphabet li.tag-scroll-letter.disable{
	color: #CCC3C3 !important;
	cursor: initial !important;
}
.settings-modal .added-links .added-links-item{
	margin-bottom: 2%;
}
#settingsModal {
	opacity: 1;
}
#settingsModal .modal-header button.close{
	background-color: transparent;
    border: 0;
}
/*end of Settings modal popup*/
.page-calender-events a:hover,.page-calender-events a:active,.page-calender-events a:focus {
  text-decoration: none;
}
.page-tools .main-content a{
	color:#205692;
}

.section-news .news-block .news-feed-container .news-dynamic.people-block .scroll-feed{
	overflow-y: hidden;
	overflow-y: hidden;
    overflow-x: hidden;
    height: 412px;
    padding-bottom: 150px;
    padding-right: 8px;
}
.section-news .news-block .news-feed-container .news-dynamic.people-block .scroll-feed:hover{
	overflow-y: scroll;
    padding-right: 0px;
}
.section-news .news-block .news-feed-container .news-dynamic.people-block .scroll-feed:after{
	content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), white 90%);
    width: 100%;
    height: 4em;
}
/* .front .news-block-title ,.front .following-title, .front .kudos-title, .front .training-title {
	font-family: "PT Sans Narrow", sans-serif;
} */
.news-feed-source {
	display:none;
}
header .header-top .notifications .notification-icon .notif-alert {
  font-size: 12px;
}
.section-news .news-block .news-sidebar .news-heading {
	color: #58595B !important;
}
/*TODO: Check if it's effecting other styles */
/* a{
  color:#205692;
} */
.section-news .links-block .links-heading h1{
	font-size: 20px;
}
.node-type-article .badge, .node-announcements .badge , .node-career-profiles .badge {
	font-size : 100% !important;
}
.front span.view-all{
	font-family: "Open Sans", Arial, sans-serif;
}
a.btn-info.count-shares {
	color: #fff !important;
}
.popups-container span.popups-close{
	position: absolute;
	right: 0;
	margin: 0px 25px 0px 0px;
}

/* Start : Tools CSS*/
.sitemap-row > ol > li {
    position: relative;
    margin-bottom: 16px;
    padding-top: 0px;
    padding-bottom: 16px;
    overflow: hidden;
}
.sitemap-row > ol > li > h3.h5 {
    padding: 2px 0px;
    border-bottom: 2px solid #205692;
    cursor: pointer;
    width: 100%;
    position: relative;
    margin-bottom: 0px;
    width: 95%;
    margin-bottom: 4px;
}

.sitemap-row > ol > li > h3.h5 span.toggle-icon {
    position: absolute;
    transform: rotate(-90deg);
    transition: 0.2s linear;
    top: 0;
    bottom: 0;
    height: 16px;
    right: 0px;
    margin: auto 0;
    color: #205692;
}
.sitemap-row > ol > li.active > h3.h5 span.toggle-icon {
    transform: rotate(90deg);
}
.page-tools .sitemap-row > ol > li > ol {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s linear, transform 0.4s cubic-bezier(0.29, 0.29, 0.18, 0.95);
    background-color: #fff;
    width: 100%;
    position: absolute;

}

.sitemap-row > ol > li.active > ol {
    opacity: 1;
    pointer-events: all;
    
}

.toolbox-links {
  position: relative;
}
.toolbox-links .tools-buttons {
  position: absolute;
  right: 24px;
  color: #48C2C5;
  font-size: 14px;
  font-family: "Open Sans";
  top: 0;
  bottom: 0;
  margin: auto 0;
  height: 12px;
  line-height: 12px;
}

.toolbox-links .tools-buttons .collapse-all, .toolbox-links .tools-buttons .expand-all {
  cursor: pointer;
}

.toolbox-links .tools-buttons .expand-all:after {
  content: "•";
  margin-left: 12px;
  margin-right: 8px;
}
.page-tools .sitemap-row h3.h5{
  color: #205692 !important;
}
.page-tools .sitemap-row > ol > li > h3.h5 { 
     padding-right: 24px;
}
/* End - Tools CSS */

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
  color: #58595B;
}
.microsite h1, .microsite h2, .microsite h3, .microsite h4, .microsite h5, .microsite .h1, .microsite .h2, .microsite .h3, .microsite .h4, .microsite .h5 {
	border-color: #58595B;
	color: #58595B;
}
.color-white h2 {
  color: #fff;
}
@media screen and (max-width: 992px) {
     #sidebar-second {
          margin-top: 48px;
     }
}

/* Home page collage view all link*/
.front .collage-view-all {
  padding-right: 4%;
}
.front .collage-view-all .text-right a {
    color: #48C2C5;
}
.view-home-collage-images article .image{
	margin-bottom: 15px;
}
.page-home-collage-images #page-title{
	display: none;
}

.slide-up-menu .slide-up-slide{
	border-top: 1px solid #b62657;
}
.slide-up-menu .slide-up-slide .slide-menu-item{
	line-height: 30px;
}
.highlight-panel{
	color: #139cc5;
}
.checkbox-style label {
  font-weight: normal !important;
}
#microsite-node-form #edit_field_channel_und_chosen {
 width: 350px !important;
}

.submenu-item .block-title {
  color: #000000 !important;
  cursor: default !important;
}
.node .content {
  font-size: 14px;
}
header{
	z-index:1000;
}
/*Start News content type default image hide*/
	.node-type-article .news-default-image{
		display:none;
	}
/*End News content type default image hide*/
/* Container list padding for li 's */
.node-containers ul.list-clean panel-list.panel-list-small li {
  padding : 0;
}
/*Start of Settings popup font weight*/
.settings-modal .card-header h5 a{
	font-weight: bold !important;
}
.settings-modal .active-tags-block .tag-scroll .tag-item label{
	font-weight: unset;
}
/*End of Settings popup font weight*/

.page-media-archive .input-group-btn > .btn.btn-clean,
.page-career-and-learning .input-group-btn > .btn.btn-clean,
#search-training .input-group-btn > .btn.btn-clean,
#search-tools .input-group-btn > .btn.btn-clean,
.page-find-class .input-group-btn > .btn.btn-clean,
.node-type-career-learning .input-group-btn > .btn.btn-clean {
  border-color: #5295b9 !important;
  border-radius: 0;
}
table caption{
  caption-side: top;
}
/* Tour font issue - Raised by Kat */
.popover[class*="tour-"] {
  font-family : "Open Sans", Arial, sans-serif;
}
/* Tour font issue - Raised by Kat */
/*Start of Happy or not*/
#hon-smiley-panel{
	left: 50%;
	top : 34% !important;
}
@media (max-width: 736px) {
	#hon-smiley-panel{
		left: 11%;
		top : 30% !important;
	}
}
@media (min-width: 768px) and (max-width: 1024px) {
	#hon-smiley-panel{
		left: 45%;
		top : 17% !important;
	}
}
.page-node-21923 .page-actions.col-lg-12,
.page-node-21923 form#ajax-comments-reply-form-21923-0-0,
.page-node-21923 .article-actions.border.row {
 display: none;
}
/*end of Happy or not*/
#literature-search-form legend {
  background: none !important;
  border: none !important;
  position: relative !important;
  margin-bottom: 0px;
  font-family: "Open Sans", Arial, sans-serif !important;
  height: auto;
}
#literature-search-form #edit-buttons {
  margin-top: 25px;
}
#literature-search-form legend span.fieldset-legend {
  font-weight: bold;
  font-size: 18px;
}
.page-literature-search-form .col-md-12.header.page.col-md-5.col-xs-12 h1{
  display: none;
}
.megamenu .usma-submenu li.submenu-item .usma-has-nomenu{
	color: #205692 !important;
	
}
.slide-up-menu{
	margin-top: 0px !important;
}