/*body{font-family:Trade Gothic,Helvetica Neue,Helvetica,Arial,sans-serif !important;}*/
body{font-family: "Open Sans", Arial, sans-serif !important;}
a {color: #5b8fa4;font-weight: 600;}
/*h1,h2,h3{color:#696969;}
h1 {font-size: 28px;}
h2 {font-size: 24px;}
h3 {font-size: 20px;}*/
.highlight-panel {
	background: #ebf3f7 none repeat scroll 0 0;
	color: #7eb0cb;
	display: inline-block;
	font-size: 20px;
	margin: 0;
	padding: 15px;
	width: 100%;
}		
.panel {
	border: 1px solid transparent;
	border-radius: 0;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-default {
	border-color: #ddd;
}
/*
.btn, .view-mediaarchive .pager-load-more a{
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
*/
.btn, .view-mediaarchive .pager-load-more a {
	display: inline-block;
	margin-bottom: 0;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 16px;
	line-height: 1.26;
	border-radius: 0;
	height: 35.2px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	/*font-family: "Trade Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-family: "Open Sans", Arial, sans-serif !important;
	color: #333333;
	background-color: #fff;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;
}
.view-mediaarchive .item-list .pager-load-more a{padding: 5px 8px 0px 10px;}

.btn:focus,
.view-mediaarchive .item-list .pager-load-more a:focus,
.btn.focus,
.view-mediaarchive .item-list .pager-load-more a.focus,
.btn:active:focus,
.btn:active.focus,
.view-mediaarchive .item-list .pager-load-more a:active:focus,
.btn.active:focus,
.btn.active.focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.btn:hover,
.view-mediaarchive .item-list .pager-load-more a:hover,
.btn:focus,
.btn.focus {
	color: #333;
	text-decoration: none;
}
.btn:active,
.view-mediaarchive .item-list .pager-load-more a:active,
.btn.active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn.disabled,
.view-mediaarchive .item-list .pager-load-more a.disabled,
.view-mediaarchive .item-list .pager-load-more a[disabled],
.btn[disabled],
fieldset[disabled] .btn {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}
.btn-icon span.icon {
    display: inline-block;
    font-size: 20px;
    margin: 0;
    line-height: 12px;
}
.btn-icon span.icon:before {
	position: relative;
	top: 3px;
	line-height: 0;
}
.btn-default {
	background-color: #555;
	border-color: #555;
	color: #fff;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .btn-default.dropdown-toggle {
	color: #FFF;
	background-color: #3c3c3c;
	border-color: #363636;
}
.btn-default:active,
.btn-default.active,
.open > .btn-default.dropdown-toggle {
    background-image: none;
}
.btn-default.disabled,
.btn-default.disabled:hover,
.btn-default.disabled:focus,
.btn-default.disabled.focus,
.btn-default.disabled:active,
.btn-default.disabled.active,
.btn-default[disabled],
.btn-default[disabled]:hover,
.btn-default[disabled]:focus,
.btn-default[disabled].focus,
.btn-default[disabled]:active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default,
fieldset[disabled] .btn-default:hover,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default.focus,
fieldset[disabled] .btn-default:active,
fieldset[disabled] .btn-default.active {
    background-color: #555;
    border-color: #555;
}
.btn-default .badge {
    color: #555;
    background-color: #fff;
}
.btn-primary {
    color: #fff;
    background-color: #195695;
    border-color: #15497f;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #123d69;
    border-color: #0d2b4b;
}
.btn-primary:active,
.btn-primary.active,
.open > .btn-primary.dropdown-toggle {
    background-image: none;
}
.btn-primary.disabled,
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled.focus,
.btn-primary.disabled:active,
.btn-primary.disabled.active,
.btn-primary[disabled],
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled].focus,
.btn-primary[disabled]:active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary.active {
	background-color: #195695;
	border-color: #15497f;
}
.btn-primary .badge {
	color: #195695;
	background-color: #fff;
}
.btn-success, .view-mediaarchive .pager-load-more a {
	color: #fff;
	background-color: #b2bb21;
	border-color: #9da51d;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active,
.open > .btn-success.dropdown-toggle {
	color: #fff;
	background-color: #899019;
	border-color: #6c7114;
}
.btn-success:active,
.btn-success.active,
.open > .btn-success.dropdown-toggle {
	background-image: none;
}
.btn-success.disabled,
.btn-success.disabled:hover,
.btn-success.disabled:focus,
.btn-success.disabled.focus,
.btn-success.disabled:active,
.btn-success.disabled.active,
.btn-success[disabled],
.btn-success[disabled]:hover,
.btn-success[disabled]:focus,
.btn-success[disabled].focus,
.btn-success[disabled]:active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success,
fieldset[disabled] .btn-success:hover,
fieldset[disabled] .btn-success:focus,
fieldset[disabled] .btn-success.focus,
fieldset[disabled] .btn-success:active,
fieldset[disabled] .btn-success.active {
    background-color: #b2bb21;
    border-color: #9da51d;
}
.btn-success .badge {
    color: #b2bb21;
    background-color: #fff;
}
.btn-info {
    color: #fff;
    background-color: #7eb0cb;
    border-color: #6ca5c4;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active,
.open > .btn-info.dropdown-toggle {
    color: #fff;
    background-color: #5a9abc;
    border-color: #4689ad;
}
.btn-info:active,
.btn-info.active,
.open > .btn-info.dropdown-toggle {
    background-image: none;
}
.btn-info.disabled,
.btn-info.disabled:hover,
.btn-info.disabled:focus,
.btn-info.disabled.focus,
.btn-info.disabled:active,
.btn-info.disabled.active,
.btn-info[disabled],
.btn-info[disabled]:hover,
.btn-info[disabled]:focus,
.btn-info[disabled].focus,
.btn-info[disabled]:active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info,
fieldset[disabled] .btn-info:hover,
fieldset[disabled] .btn-info:focus,
fieldset[disabled] .btn-info.focus,
fieldset[disabled] .btn-info:active,
fieldset[disabled] .btn-info.active {
    background-color: #7eb0cb;
    border-color: #6ca5c4;
}
.btn-info .badge {
    color: #7eb0cb;
    background-color: #fff;
}
.btn-warning {
    color: #fff;
    background-color: #F3981E;
    border-color: #eb8c0d;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active,
.open > .btn-warning.dropdown-toggle {
    color: #fff;
    background-color: #d37e0b;
    border-color: #b16909;
}
.btn-warning:active,
.btn-warning.active,
.open > .btn-warning.dropdown-toggle {
    background-image: none;
}
.btn-warning.disabled,
.btn-warning.disabled:hover,
.btn-warning.disabled:focus,
.btn-warning.disabled.focus,
.btn-warning.disabled:active,
.btn-warning.disabled.active,
.btn-warning[disabled],
.btn-warning[disabled]:hover,
.btn-warning[disabled]:focus,
.btn-warning[disabled].focus,
.btn-warning[disabled]:active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning,
fieldset[disabled] .btn-warning:hover,
fieldset[disabled] .btn-warning:focus,
fieldset[disabled] .btn-warning.focus,
fieldset[disabled] .btn-warning:active,
fieldset[disabled] .btn-warning.active {
    background-color: #F3981E;
    border-color: #eb8c0d;
}
.btn-warning .badge {
    color: #F3981E;
    background-color: #fff;
}
.btn-danger {
    color: #fff;
    background-color: #980F2E;
    border-color: #810d27;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active,
.open > .btn-danger.dropdown-toggle {
    color: #fff;
    background-color: #6a0a20;
    border-color: #490716;
}
.btn-danger:active,
.btn-danger.active,
.open > .btn-danger.dropdown-toggle {
    background-image: none;
}
.btn-danger.disabled,
.btn-danger.disabled:hover,
.btn-danger.disabled:focus,
.btn-danger.disabled.focus,
.btn-danger.disabled:active,
.btn-danger.disabled.active,
.btn-danger[disabled],
.btn-danger[disabled]:hover,
.btn-danger[disabled]:focus,
.btn-danger[disabled].focus,
.btn-danger[disabled]:active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger,
fieldset[disabled] .btn-danger:hover,
fieldset[disabled] .btn-danger:focus,
fieldset[disabled] .btn-danger.focus,
fieldset[disabled] .btn-danger:active,
fieldset[disabled] .btn-danger.active {
    background-color: #980F2E;
    border-color: #810d27;
}
.btn-danger .badge {
    color: #980F2E;
    background-color: #fff;
}
.btn-clean {
    color: #b2bb21;
    background-color: #fff;
    border-color: #7eb0cb;
}
.btn-clean:hover,
.btn-clean:focus,
.btn-clean.focus,
.btn-clean:active,
.btn-clean.active,
.open > .btn-clean.dropdown-toggle {
    color: #b2bb21;
    background-color: #e6e6e6;
    border-color: #5295b9;
}
.btn-clean:active,
.btn-clean.active,
.open > .btn-clean.dropdown-toggle {
    background-image: none;
}
.btn-clean.disabled,
.btn-clean.disabled:hover,
.btn-clean.disabled:focus,
.btn-clean.disabled.focus,
.btn-clean.disabled:active,
.btn-clean.disabled.active,
.btn-clean[disabled],
.btn-clean[disabled]:hover,
.btn-clean[disabled]:focus,
.btn-clean[disabled].focus,
.btn-clean[disabled]:active,
.btn-clean[disabled].active,
fieldset[disabled] .btn-clean,
fieldset[disabled] .btn-clean:hover,
fieldset[disabled] .btn-clean:focus,
fieldset[disabled] .btn-clean.focus,
fieldset[disabled] .btn-clean:active,
fieldset[disabled] .btn-clean.active {
    background-color: #fff;
    border-color: #7eb0cb;
}
.btn-clean .badge {
    color: #fff;
    background-color: #b2bb21;
}
.btn-clean:hover {
    background: none;
    color: #9da51d;
}
.btn-link {
    color: #5b8fa4;
    font-weight: normal;
    border-radius: 0;
}
.btn-link,
.btn-link:active,
.btn-link.active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
    border-color: transparent;
}
.btn-link:hover,
.btn-link:focus {
    color: #406473;
    text-decoration: underline;
    background-color: transparent;
}
.btn-link[disabled]:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:hover,
fieldset[disabled] .btn-link:focus {
    color: #aaaaaa;
    text-decoration: none;
}
.btn-lg {
    padding: 10px 16px;
    font-size: 20px;
    line-height: 1.33;
    border-radius: 0;
    height: 35.2px;
    height: 49px;
}
.btn-lg.btn-icon span.icon {
    font-size: 20px;
}
.btn-sm {
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 0;
    height: 35.2px;
    height: 33px;
}
.btn-sm.btn-icon span.icon {
	font-size: 16px;
}
.btn-xs {
	padding: 1px 5px;
	font-size: 14px;
	line-height: 1.5;
	border-radius: 0;
	height: 35.2px;
}
.btn-block {
	display: block;
	width: 100%;
}
.btn-block + .btn-block {
    margin-top: 5px;
}
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
    width: 100%;
}
  
.item-list-cust {margin-bottom:5px;padding-bottom:10px;border:none !important;clear:both;height:auto;}
.item-list-cust ul li{border-bottom:none;display:block;float:left;width:58%;height:auto;word-wrap:break-word;padding:3px 0;margin-bottom:4px;margin-left:-55px}
.item-list-cust ul li.last{padding-bottom:15px;}
.item-list-cust h3{margin-left:-25px;margin-right:5px;}

table.table-layout {
	width: 100%;
	margin-top: 20px;
	table-layout: fixed;
}
table.table-layout th {
	text-align: center;
	color: #195695;
	border: 0;
	padding-bottom: 8px;
}
table.table-layout td {
	border: 1px solid #c1c1c1;
	width: 14.28%;
	overflow: hidden;
	padding-bottom: 14.28%;
	position: relative;
	background-clip: padding-box;
	vertical-align: bottom;
}
.btn.btn-primary.btn-sm > a {
	text-decoration: none;
	color: #FFF;
}
.object-left-align {
	float: left !important;
	margin: 10px 10px 10px 0px;
}
.object-right-align {
	float: right !important;
	margin: 10px 0px 10px 10px;
}
.object-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}
/*TRADE GOTHIC FONT*/
@font-face {
  font-family: "Trade Gothic";
  src: url("../assets/fonts/tradegothic/1d699af3-0e50-4c4b-a343-42d071e85714.eot?#iefix");
  src: url("../assets/fonts/tradegothic/1d699af3-0e50-4c4b-a343-42d071e85714.eot?#iefix") format("eot"), url("../assets/fonts/tradegothic/5414f75e-5cb8-4357-88e5-5a294424c859.woff2") format("woff2"), url("../assets/fonts/tradegothic/537b145a-6a7d-4787-81d9-7228d3a42458.woff") format("woff"), url("../assets/fonts/tradegothic/8e50278c-45cd-4808-b774-24767d958f17.ttf") format("truetype"), url("../assets/fonts/tradegothic/d918b947-5fcb-42e2-8286-a98a801876de.svg#d918b947-5fcb-42e2-8286-a98a801876de") format("svg");
  font-weight: 300; }
@font-face {
  font-family: "Trade Gothic";
  src: url("../assets/fonts/tradegothic/52926f65-1323-4d02-be2d-934b4de477fb.eot?#iefix");
  src: url("../assets/fonts/tradegothic/52926f65-1323-4d02-be2d-934b4de477fb.eot?#iefix") format("eot"), url("../assets/fonts/tradegothic/54b9363e-aa6c-48e2-85c7-80683d83e617.woff2") format("woff2"), url("../assets/fonts/tradegothic/c092dbc5-48eb-4b39-a898-4d4150c06459.woff") format("woff"), url("../assets/fonts/tradegothic/1009b9de-005c-4462-9495-767c25320e42.ttf") format("truetype"), url("../assets/fonts/tradegothic/26ce2652-3a0b-4804-87b6-58c68e5d60f6.svg#26ce2652-3a0b-4804-87b6-58c68e5d60f6") format("svg");
  font-weight: 500; }
@font-face {
  font-family: "Trade Gothic";
  src: url("../assets/fonts/tradegothic/59fa12c0-25c9-4c0c-bd1e-32204311d86d.eot?#iefix");
  src: url("../assets/fonts/tradegothic/59fa12c0-25c9-4c0c-bd1e-32204311d86d.eot?#iefix") format("eot"), url("../assets/fonts/tradegothic/402df645-4a32-4a66-9584-257f7972c133.woff2") format("woff2"), url("../assets/fonts/tradegothic/1c164451-034c-41f5-9542-390709016510.woff") format("woff"), url("../assets/fonts/tradegothic/7062b4ff-265a-4366-b34f-443ec5cc2dad.ttf") format("truetype"), url("../assets/fonts/tradegothic/09f52831-e1cf-48be-9c1e-2d1577e420b7.svg#09f52831-e1cf-48be-9c1e-2d1577e420b7") format("svg");
  font-style: italic;
  font-weight: normal; }
@font-face {
  font-family: "Trade Gothic";
  src: url("../assets/fonts/tradegothic/bb3aa0a7-2585-4e89-ad82-658fd561751a.eot?#iefix");
  src: url("../assets/fonts/tradegothic/bb3aa0a7-2585-4e89-ad82-658fd561751a.eot?#iefix") format("eot"), url("../assets/fonts/tradegothic/7bb1c0cb-e6e9-44ea-ae0c-1984ad7e3339.woff2") format("woff2"), url("../assets/fonts/tradegothic/1454a71d-cdbb-429c-8092-122f4493e0c7.woff") format("woff"), url("../assets/fonts/tradegothic/d5ea405c-2180-4ff0-bd51-3e19fb280be4.ttf") format("truetype"), url("../assets/fonts/tradegothic/70ac6679-cf48-4a0e-a909-d1e3bb4a1aa9.svg#70ac6679-cf48-4a0e-a909-d1e3bb4a1aa9") format("svg");
  font-weight: 600; }
@font-face {
  font-family: "Trade Gothic";
  src: url("../assets/fonts/tradegothic/2e9af08f-0faf-45e3-9767-78a700434af3.eot?#iefix");
  src: url("../assets/fonts/tradegothic/2e9af08f-0faf-45e3-9767-78a700434af3.eot?#iefix") format("eot"), url("../assets/fonts/tradegothic/d2e623ca-efc6-4557-ae55-ebb786065dcf.woff2") format("woff2"), url("../assets/fonts/tradegothic/f51d24dd-8256-43c6-ba1a-6aeae9d3f262.woff") format("woff"), url("../assets/fonts/tradegothic/955ee494-66b2-4eb2-8f19-bc3a088df16d.ttf") format("truetype"), url("../assets/fonts/tradegothic/d5153ad4-7c93-4757-9147-640e69ec4801.svg#d5153ad4-7c93-4757-9147-640e69ec4801") format("svg");
  font-weight: 700; }