.node-webform h2 {
	padding-bottom: 10px;
}
.webform-client-form label {
	width: 17%;
	font-weight: bold;
	display: inline-block !important;
}
.webform-client-form .webform-container-inline label {
	margin:auto !important;
}
.webform-client-form  .form-textarea-wrapper {
	display: inline-block !important;
}
.webform-client-form .webform-component {
	padding-bottom: 10px;
}
.webform-client-form  textarea {
	height: auto;
	width: 330px;
}
.webform-client-form  .grippie {
	width: 329px;
}
.webform-client-form .form-actions.form-wrapper {
	float: right;
	margin-right: 69%;
}
.report-adverse-event .form-actions.form-wrapper {
	margin-right: 59%;
}
.webform-client-form input[type="radio"] {
	vertical-align: middle;
}
.webform-client-form  fieldset {
	border: 1px solid #225F9D
}
.webform-client-form  fieldset > legend a {
	font-weight: bold;
}
.report-adverse-event label {
	width: 25%;
	text-align: right;
	padding-right: 10px;
}
.report-adverse-event .description, 
.report-adverse-event .webform-component-markup {
	width: 100%;
	margin-left: 27%;
	padding-bottom: 0px;
	font-size: 12px;
	color: #000;
}
.report-adverse-event .webform-component-markup {
	padding-bottom: 5px;
}
.report-adverse-event label.option {
	text-align: left;
	width: 60px;
}
.webform-client-form #edit-submitted-product-roche-medication {
	height: 65px;
}
.report-adverse-event select {
	display: inline-block !important;
	width: auto !important;
	background: none !important;
}
.report-adverse-event option {
  width: auto !important;
}
.report-adverse-event .chzn-container {
	display: none !important;
}
.webform-client-form input.webform-calendar {
	vertical-align: middle !important;
}
.webform-client-form  .form-required {
	color: red !important;
}

/*Concept Tracker chnages*/

.view-webform-submissions table {
    width: 100%;
}

.view.view-webform-submissions.view-id-webform_submissions {
    border: 1px solid #bbb;
    padding: 5px;
}

.view-webform-submissions .webform-view-list {
    margin: 5px;
}
.view-webform-submissions .concept-tracker-record {
    height: 40px;
}
.view-webform-submissions.view-display-id-page_1 .webform-results-per-page {
    float: right;
}
.webform-component--cancel-modal{
  display: none;
}

html.js input.form-autocomplete {
    background-position: 100% 9px;
}
input.webform-calendar{
 display: inline !important;
}
.form-item.form-type-date-popup.form-item-submitted-date-of-concept-discussion-with-investigator > label {
    float: left;
    width: 175px;
}
.form-item.form-type-date-popup.form-item-submitted-srrt-proposal-presentation-date > label {
    float: left;
    width: 157px;
}
.form-item.webform-component.webform-component-textfield.webform-component--other-tumor-type.webform-container-inline{
  display: none;
  
}
.form-item.webform-component.webform-component-textfield.webform-component--other-tumor-type.webform-container-inline label{ 
width: 185px;
}
.webform-container-inline.webform-datepicker  div.form-item.form-type-select {
	display: none;
}
