@font-face {
  font-family: 'icomoon';
  src:  url('../icons/icomoon.eot?nltjva');
  src:  url('../icons/icomoon.eot?nltjva#iefix') format('embedded-opentype'),
    url('../icons/icomoon.ttf?nltjva') format('truetype'),
    url('../icons/icomoon.woff?nltjva') format('woff'),
    url('../icons/icomoon.svg?nltjva#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Icon_Calendar-Alert:before {
  content: "\e900";
}
.icon-Icon_Close:before {
  content: "\e901";
}
.icon-Icon_Down-Arrow:before {
  content: "\e902";
}
.icon-Icon_Down-Carrot-Filled:before {
  content: "\e903";
}
.icon-Icon_Left-Arrow:before {
  content: "\e904";
}
.icon-Icon_Left-Carrot:before {
  content: "\e905";
}
.icon-Icon_Light-Bulb:before {
  content: "\e906";
}
.icon-Icon_Notification-Alert:before {
  content: "\e907";
}
.icon-Icon_Notification:before {
  content: "\e908";
}
.icon-Icon_Power:before {
  content: "\e909";
}
.icon-Icon_Profile:before {
  content: "\e90a";
}
.icon-Icon_Right-Arrow:before {
  content: "\e90b";
}
.icon-Icon_Right-Carrot:before {
  content: "\e90c";
}
.icon-Icon_Search:before {
  content: "\e90d";
}
.icon-Icon_Settings:before {
  content: "\e90e";
}
.icon-Icon_Up-Arrow:before {
  content: "\e90f";
}
.icon-Icon_Up-Carrot-Filled:before {
  content: "\e910";
}
.icon-Icon_Warning-Alert:before {
  content: "\e911";
}
