$primary-color: #205692;
$color-white: #fff;
$link-color: #143B67;
$primary-font-family: 'Open Sans', Arial, sans-serif;
$secondary-font-family: 'PT Sans Narrow', sans-serif;






html {
  font-family: $primary-font-family;
}

body {
  background-color: #EDEEF2;
  font-family: $primary-font-family;
  font-weight: normal;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

body.overlay-active {
  overflow:hidden;
}

a, a:hover {
  text-decoration: none;
}

a {
  color: $link-color;
  &:hover {

  }
}

p {
  font-size: 14px;
  font-weight: normal;
  font-family: $primary-font-family;
}

h1, h2 {
  font-family: $secondary-font-family;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}


.fancy-scrollbar {
  /* width */
  ::-webkit-scrollbar {
      width: 6px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    	border-radius: 3px;
      background-color: #ECEFF2;
      height: calc(100% - 4em);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
      width: 6px;
      border-radius: 3px;
      background-color: #B2BDC8;
  }
}




.container {
  max-width: 1440px;
}

.no-padding {
  padding: 0;
}

.modal-backdrop {
  opacity: 0.7;
  &.active {

  }
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  background-color: #000;
}

.color-white, .color-white a {
  color: $color-white;
}

.color-dark, .color-dark a {
	color: #373737;
}

header {
  top: 0px;
  left: 0px;
  right: 0px;
  position: fixed;
  width: 100%;
  z-index: 10;
  user-select:none;

  .header-top {
  	background-color: $primary-color;
    height: 48px;
    width: 100%;
    display: block;
    position: relative;
    padding: 0;
    .header-top-container {
      padding-left: 56px;
      padding-right: 56px;
    }
    .gwiz-logo-block {
      position: relative;
      float: left;
      padding: 14px 8px 6px;

      a {

        img.gwiz-logo-img {
          width: 48px;
          height: 26px;
        }
      }
    }

    .account-block {
      position: relative;
      float: right;
      font-family: $secondary-font-family;
      .greeting-block {
        display: block;
        padding: 0px;
        float: right;
        position: relative;

        &:hover .account-flyout {
          opacity: 1;
          pointer-events: all;
        }
        .greeting-text {
          padding: 12px 16px;
        	font-size: 15px;
          font-weight: bold;
          letter-spacing: 1px;
          line-height: 24px;
          text-align: right;
          span.icon {
            padding-left: 8px;
            padding-right: 4px;
            vertical-align: middle;
                font-size: 9px;
          }
        }
        &:hover .greeting-text, .greeting-text.active {
          background-color: rgba(0,0,0,0.1);
        }

      }

      .account-flyout {
        opacity: 0;
        pointer-events: none;
        transition: all 0.2s linear;
        position: absolute;
        top: 48px;
        right: 0px;
        background-color: #ffffff;
        height: 160px;
        width: 225px;
        z-index: 11;
        box-shadow: 0 18px 50px 0 rgba(0,0,0,0.4);
        padding: 0px 0px;
        ul { list-style: none; padding: 0; margin: 0;}
        .flyout-item {
          color: #5F7388;
          font-family: "PT Sans Narrow";

          &:not(:last-child) .flyout-link:after {
            content: " ";
            height: 2px;
            width: 184px;
            border-top: 1px solid #ECECEC;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            bottom: 0;
          }

          .flyout-link {
            padding: 8px 24px;
            display: block;
            font-size: 16px;
            font-weight: 700;
            line-height: 38px;
            position: relative;
            color: #5F7388;
            transition: all 0.2s linear;

            &:before {
              content: " ";
              opacity: 0;
              position: absolute;
              left: -2px;
              height: 35px;
              width: 4px;
              background-color: #48C2C5;
              margin: auto 0;
              top: 0;
              bottom: 0;
              transition: all 0.2s ease;
            }


            &:hover {
              color: #48C2C5;
              &:before {
                opacity: 1;
                left: -2px;
              }

            }
            span.icon {
              float: right;
              margin-top: 12px;
            }
          }
        }


      }
    }
    .notifications {
      display: block;
      padding: 16px 16px;
      float: right;
      &:hover {
        background-color: rgba(0,0,0,0.1);
        .notifications-flyout {
          opacity: 1;
          pointer-events: all;
        }
      }
      .notifications-toggle {

      }
      .notification-icon {
        height: 17px;
        width: 14px;
        display: block;
        background-repeat: no-repeat;
        position: relative;
        span.icon {
          color: #fff;
          font-size: 17px;
        }



        .notif-alert {
          display: none;
          position: absolute;
          box-sizing: border-box;
          height: 12px;
          width: 12px;
          border: 1px solid #205692;
          background-color: #FF354E;
          margin: 0;
          padding: 0;
          top: -2px;
          right: -6px;
          border-radius: 100%;
          &.active {
            display: block;
          }
        }
      }

      .notifications-flyout {
        top: 48px;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        transition: all 0.2s linear;
        right: 0px;
        background-color: #ffffff;
        width: 478px;
        z-index: 11;
        box-shadow: 0 18px 50px 0 rgba(0, 0, 0, 0.4);
        padding: 0px 0px;
        &.active {display:block;}

        .notifications-header {
          height: 56px;
          border-bottom: 2px solid #E5E5E5;
          position: relative;
          .title {
            line-height: 56px;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto 16px;
            display: block;
            padding: 0px 8px;
            color: #5F7388;
            font-family: "PT Sans Narrow";
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1px;
          }
          .dismiss-all {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto 24px;
            height: 56px;
            line-height: 56px;
            color: #48C2C5;
            font-family: "Open Sans";
            font-size: 12px;
            font-weight: 600;
            text-align: right;
          }
        }

        .notifications-feed {
          max-height: 450px;
          overflow-y: hidden;
          &:hover {
            overflow-y: scroll;
            .notification-item{ margin-right:-6px; }
          }
          overflow-x: hidden;
          position: relative;

          .notification-item {
            height: 116px;
            position: relative;
            padding: 16px 0px;
            transition: background-color .2s linear;

            &:not(:last-child):after {
              content: " ";
              position: absolute;
              display: block;
              bottom: 0;
              width: 420px;
              height: 2px;
              left: 0;
              right: 0;
              margin: 0 auto;
              border: 1px solid #E5E5E5;
              opacity: 0.6;
            }

            .notif-type-icon {
              display: block;
              text-align: center;
              line-height: 84px;
              font-size: 32px;
              margin-right: -24px;
              color: #143B67;

              &.notif-yellow {
                color: #FED311;
              }
              &.notif-red {
                color: #FF4848;
              }
              &.notif-green {
                color: #48C2C5;
              }
            }

            .notif-item-content {
              height: 84px;
              position:relative;
              .title {
                color: #205692;
                font-family: "Open Sans";
                font-size: 15px;
                font-weight: 600;
                line-height: 22px;
                margin-bottom: 8px;
              }
              .excerpt {
                color: #373737;
                font-family: "Open Sans";
                font-size: 14px;
                line-height: 22px;
              }


              .notif-dismiss {
                position: absolute;
                top: 4px;
                right: 0;
                height: 12px;	width: 12px;

                &:before {
                  content: " ";
                  position: absolute;
                  top: 0;
                  bottom: 0;
                  margin: auto 0;
                  right: 0;
                  width: 12px;
                  height: 1px;
                  background-color: #989EA4;
                  transform: rotate(45deg);
                }
                &:after {
                  content: " ";
                  position: absolute;
                  top: 0;
                  bottom: 0;
                  margin: auto 0;
                  right: 0;
                  width: 12px;
                  height: 1px;
                  background-color: #989EA4;
                  transform: rotate(-45deg);
                }
              }
            }
            .notification-category {
              color: #989EA4;
              font-family: "Open Sans";
              font-size: 12px;
              line-height: 22px;
              position: absolute;
              bottom: 0px;
              left: 15px;
            }
            .notification-time {
              color: #373737;
              font-family: "Open Sans";
              font-size: 12px;
              line-height: 22px;
              text-align: right;
              position: absolute;
              bottom: 0px;
              right: 32px;
            }


            &.notif-important {
              .notification-time, .notif-item-content .excerpt, .notif-item-content .title {
                font-weight: bold;
              }
            }

            .notif-item-link {
              position:absolute;
              top:0;
              left:0;
              height:100%;
              z-index:2;
              width: calc(100% - 44px);
            }

            &:hover {
            	background-color: rgba(95, 115, 136, 0.08);
            }
          }
        }

        .notif-view-all {


          height: 56px;
          width: 100%;
          position: relative;
        	background-color: #48C2C5;
          transition: all 0.2s linear;
          &:hover {
            background-color: #42B2B5;
          }
          display: block;
            color: #FFFFFF;
            font-family: "Open Sans";
            font-size: 12px;
            font-weight: bold;
            line-height: 56px;
            text-align: center;
            text-transform: uppercase;

        }
      }
    }
  }


  .header-nav {



    .header-nav-container {
      padding-left: 56px;
      padding-right: 56px;
    }
    height: 128px;
    width: 100%;
    display: block;
    position: relative;
    transition: all 0.04s linear;
    background-color: $color-white;
    .logo-block {
      position: relative;
      padding: 32px 0px;
      display: flex;
      align-items: center;
      height: 100%;
      transition: all 0.04s linear;
      img.logo-img {
        height: auto;
        width: 100%;
        max-width: 260px;
        transition: all 0.04s linear;
      }
    }

    .navigation-menu {
      transition: all 0.2s linear;
      float: right;
      height: 100%;
      padding: 32px 0px;
      position: relative;

      ul {
        list-style: none;
        float: left;
        height: 100%;
        overflow: hidden;
        margin: 0;
        padding: 0;
        li.menu-item {
          display: block;
          float: left;
          position: relative;
          margin: 0;
          padding: 0;
          a.menu-link {
            padding-right: 16px;
            padding-left: 16px;
            display: block;
            font-size: 16px;
            font-weight: 700;
            line-height: 64px;
            color: $link-color;
            transition: all 0.2s linear;
            span.icon {
              padding: 0px 8px;
              font-size: 9px;
              vertical-align: middle;
            }
          }
          &.menu-search {
            a.menu-link {
              transition: all 0.2s linear;
              line-height: 64px;
              padding-top: 0;
              padding-bottom: 0;
              margin: auto 0;
              span.icon {
                font-size: 16px;
              }
            }
          }
        }
      }
    }

    &.sticky {
      height: 75px;
      box-shadow: 0px 7px 15px rgba(84, 84, 84, 0.1);

      transition: all 0.2s linear;
      .logo-block {
        padding: 10px 0px;
        img.logo-img {
          max-width: 212px;
        }
      }
      .navigation-menu {
        padding: 16px 0px;
        a.menu-link {
          line-height: 40px !important;
        }
      }
    }
  }

}

.main-container {
  margin-top: 176px;
}

section {
  overflow: hidden;
}

.section-hero {
  background-color: #EDEEF2;
  padding-top: 0px;
  padding-bottom: 0px;
  .container {
    //box-shadow: 0px 0px 7px 0px #000;
  }
  .hero-block {
    height: 560px;

    .row {
      margin: 0;
    }
    .nopadding {

      padding: 0;

    }
    .hero-container {
      padding-left: 56px;
    padding-right: 56px;
    }


    .hero-item {
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      overflow: hidden;
      .hero-item-bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center center;
        z-index: 0;
        transition: all 0.4s ease;
        &:before {
          content: "";
          opacity: 0;
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background-color: rgba(0, 0, 0, 0.15);
          transition: all 0.4s ease;
        }
      }

      &:hover .hero-item-bg {
        transform: scale(1.03);
        &:before {
          opacity: 1;
        }
      }

      &.square-block, &.long-block {
        height: calc(560px / 2);
        .hero-item-info {

        }
      }
      &.large-block {
        height: 560px;
        padding: 410px 40px 40px;

        .hero-item-info {
          .title {
            margin-bottom: 4px;
            display: block;
          }
          .date {
            margin-bottom: 13px;
            display: block;
          }
        }
      }

      .hero-item-info {
        position: absolute;
        left: 25px;
        bottom: 20px;
        padding-right: 80px;
        z-index:2;
        .title {
          font-size: 24px;
          font-weight: 700;

        }
        .date {
          opacity: 0.8;
          font-size: 13px;
          font-weight: normal;

        }
        .excerpt {
        	line-height: 24px;
        }
      }

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index:1;
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 65%, rgba(0,0,0,0.6) 100%);
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 65%,rgba(0,0,0,0.6) 100%);
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 65%,rgba(0,0,0,0.6) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#0a000000',GradientType=0 );
      }

      .hero-item-link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
      }
    }
  }
}

.section-news {
  background-color: #EDEEF2;
  padding-top: 40px;
  padding-bottom: 40px;

  .pill-slider {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    .pill {
      position: absolute;
      left: 0;
      top: 34px;
      background-color: #48C2C5;
      box-shadow: 2px 6px 18px 0 rgba(72, 194, 197, 0.48);
      transition: all 0.4s cubic-bezier(0.13, 0, 0, 1);
      border-radius: 20.5px;
      height: 42px;
      width: 100%;
      max-width: 200px;
      padding: 8px 32px;
      z-index:1;
    }
  }

  .news-container {
    padding-left: 56px;
    padding-right: 56px;
  }

  .news-row {
    //margin-left: 0px;
    //margin-right: 0px;
    > .col-md-8 {
      //padding-left:0px;
    }
    > .col-md-4 {
      //padding-right: 0px;
    }
  }

  .news-block {
    box-shadow: 2px 4px 15px 0 rgba(0,0,0,0.12);
    background-color: #fff;
    height: 520px;
    overflow: hidden;
    position: relative;
    .news-sidebar {
      padding: 40px 48px;
      position: relative;
      display: block;
      height: 100%;
      width: 100%;
      &:after {
        content: " ";
        position: absolute;
        right: 0;
        top: 0;
        box-sizing: border-box;
        height: 100%;
        width: 2px;
        border-left: 1px solid #DCE4EC;
      }

      .news-heading {
        font-size: 32px;	font-weight: bold;	line-height: 24px;
        color: $link-color;
      }
      .news-menu {
        padding: 32px 0px;
        margin-left: -16px;
        position: relative;
        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          z-index: 3;
          position: absolute;
          .news-menu-item {
            display: block;
            padding: 4px 0px;
            .news-menu-link {
              color: $primary-color;
              transition: all 0.3s cubic-bezier(0.53, 0.03, 0.88, 0.37);
              padding: 8px 32px;
              color: #205692;
              font-size: 14px;
              font-weight: bold;
              line-height: 24px;
              display: block;
              height: 42px;
              width: 100%;
              max-width: 200px;
              text-transform: uppercase;
              //border-radius: 20.5px;
              &.active {
                color: $color-white;
                //background-color: #48C2C5;
                //box-shadow: 2px 6px 18px 0 rgba(72,194,197,0.48);

              }
            }
          }
        }
      }
    }

    .news-feed-container {
      padding: 32px 32px 32px 0px;
      height: 520px;

      .news-block-title {
        position: relative;
        margin-bottom: 16px;
        h4 {
          color: #58595B;	font-size: 20px;	font-weight: bold;	line-height: 20px;
        }
        .view-all {
          position: absolute;
          right: 0;
          top: 0;
          color: #205692;
          font-size: 14px;
          line-height: 18px;
          text-align: right;
          text-decoration: underline;
        }
      }
      .news-dynamic {


        display: none;
        &.active {
          //display: block;
        }

        &.department-block {


          .scroll-feed {
            overflow-y: hidden;
            &:hover {
              overflow-y: scroll;
              .notification-item{ margin-right:-6px; }
            }
            overflow-x: hidden;
            height: 412px;
            padding-bottom: 150px;
            &:after {
              content  : "";
              position : absolute;
              z-index  : 1;
              bottom   : 0;
              left     : 0;
              pointer-events   : none;
              background-image : linear-gradient(to bottom,
                                rgba(255,255,255, 0),
                                rgba(255,255,255, 1) 90%);
              width    : 100%;
              height   : 4em;
            }
          }



        }

        .news-feed-content {
          position: relative;
          margin-left: 78px;
          margin-top: 16px;
        }
        .news-feed-item {
          position: relative;
          padding: 4px 30px 26px 4px;
          font-family: $primary-font-family;
          .news-feed-img {
            	height: 64px;
              width: 64px;
              border: 3px solid #FFFFFF;
              box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2);
              border-radius: 100%;
              position: absolute;
              overflow: hidden;
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat;
          }
          .news-feed-title {
            color: $primary-color;
            font-size: 16px;
            font-weight: bold;
            line-height: 22px;
            margin: 0px 0px 4px;
          }
          .news-feed-date {
            color: #5F7388;
            font-size: 12px;
            font-weight: bold;
            line-height: 22px;
          }
          .news-feed-source {
            color: #48C2C5;
            font-size: 12px;
            font-style: italic;
            font-weight: bold;
            line-height: 22px;
            margin-left: 23px;
            position: relative;
            &:before {
              content: " ";
              position: absolute;
              left: -18px;
              top: 7px;
              box-sizing: border-box;
              height: 2px;
              width: 10px;
              border: 1px solid #DCE4EC;
            }
          }
          .news-feed-excerpt {
            color: #989EA4;
            font-size: 14px;
            line-height: 22px;
            margin: 8px 0px 0px;
          }
          .news-feed-item-link {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
          }
        }
      }

      .kudos-block {
        .kudos-title {
          position: relative;
          margin-bottom: 16px;
          h4 {
            color: #58595B;	font-size: 20px;	font-weight: bold;	line-height: 20px;
          }
          .view-all {
            position: absolute;
            right: 0;
            top: 0;
            color: #205692;
            font-size: 14px;
            line-height: 18px;
            text-align: right;
            text-decoration: underline;
          }
        }
        .kudos-feed-item {
          position: relative;
          padding: 0px 0px 16px 4px;
          font-family: $primary-font-family;

          .kudos-feed-content {
            position: relative;
            margin-left: 78px;
            margin-top: 16px;
          }
          .kudos-feed-img {
            	height: 64px;
              width: 64px;
              border: 3px solid #FFFFFF;
              box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2);
              border-radius: 100%;
              position: absolute;
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat;
          }
          .kudos-feed-title {
            color: $primary-color;
            font-size: 16px;
            font-weight: bold;
            line-height: 22px;
            margin: 0px 0px 4px;
          }
          .kudos-feed-excerpt {
            color: #989EA4;
            font-size: 14px;
            line-height: 22px;
            margin: 8px 0px 0px;
          }
          .kudos-feed-item-link {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
          }
        }
      }

        .applause-block {
          .applause-title {
            position: relative;
            margin-bottom: 8px;
            margin-top: 8px;
            h4 {
              color: #58595B;	font-size: 20px;	font-weight: bold;	line-height: 20px;
            }
            .view-all {
              position: absolute;
              right: 0;
              top: 0;
              color: #205692;
              font-size: 14px;
              line-height: 18px;
              text-align: right;
              text-decoration: underline;
            }
          }
          ul {
            list-style: none;
            margin: 0;
            padding: 0;
            .applause-feed-item {
              display: block;
              width: 100%;
              padding: 8px 0px;

              .applause-feed-link {
                color: $primary-color;
                font-size: 16px;
                line-height: 32px;
                width: 100%;
                display: block;
                position: relative;
                img {
                  float: right;
                  vertical-align: middle;
                  transition: all 0.2s linear;
                  right: 12px;
                  margin: auto 0;
                  display: block;
                  position: absolute;
                  top: 0;
                  bottom: 0;
                }
                &:hover img { right: 0px; }
              }
            }
          }

      }
    }
  }

  .links-block {
    background-color: #205692;
    box-shadow: 2px 4px 15px 0 rgba(0,0,0,0.12);
    padding: 40px 0px 35px;
    height: 520px;
    overflow: hidden;
    color: $color-white;

    .links-heading {
      font-size: 32px;
      font-weight: bold;
      line-height: 24px;
      text-align: center;
      margin-bottom: 32px;
    }

    .links-feed-container {
      position: relative;
      overflow: hidden;
    }

    .links-feed-nav {
      position: absolute;
      bottom: 32px;
      width: 64px;
      margin: 0 auto;
      left: 0;
      right: 0;
      ul { list-style: none; margin: 0; padding: 0; text-align: center; }
      .link-nav-dot {
        display: inline-block;
        opacity: 0.5;
        background-color: #fff;
        padding: 0px 2px;
        margin: 0 3px;
        color: transparent;
        font-size: 11px;
        transition: opacity 0.2s ease;
        cursor: pointer;
        width: 11px;
        height: 11px;
        border-radius: 100%;
        &.active, &:hover {
          opacity: 1;
        }
      }
    }

    .links-feed {
        width: 300%;
        transition: all 0.5s ease;
      .links-feed-page {
        padding: 0px;
        width: calc(100% / 3);
        float: left;
        padding: 0px 48px;
        &.active {
          //display: block;
        }
        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          .links-feed-item {
            display: block;
            width: 100%;
            padding: 8px 0px;
            .links-feed-link {
              color: $color-white;
              font-size: 16px;
              line-height: 32px;
              width: 100%;
              display: block;
              position: relative;

              img {
                float: right;
                vertical-align: middle;
                transition: all 0.2s linear;
                right: 12px;
                margin: auto 0;
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
              }
              &:hover img {  right: 0px; }
            }
          }
        }
      }

      &[data-current-active=".linksPage1"] {
        margin-left: 0%;
      }
      &[data-current-active=".linksPage2"] {
        margin-left: -100%;
      }
      &[data-current-active=".linksPage3"] {
        margin-left: -200%;
      }
    }
  }
}


.training-block {
  .your-training-block {
    .training-title {
      position: relative;
          margin-bottom: 40px;
      h4 {
        color: #58595B;	font-size: 20px;	font-weight: bold;	line-height: 20px;
      }
      .view-all {
        position: absolute;
        right: 0;
        top: 0;
        color: #205692;
        font-size: 14px;
        line-height: 18px;
        text-align: right;
        text-decoration: underline;
      }
    }
    .training-feed-item {
          padding: 0px 0px 16px 4px;
    }
    .training-feed-content {
      position: relative;
      margin-left: 78px;
      margin-top: 16px;
    }
    .training-feed-img {
        height: 64px;
        width: 64px;
        border: 3px solid #FFFFFF;
        box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2);
        background-color: #48C2C5;
        border-radius: 100%;
        position: absolute;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
    color: #fff;
    line-height: 58px;
    font-size: 24px;
    }
      .training-feed-title {
        color: $primary-color;
        font-size: 16px;
        font-weight: bold;
        line-height: 22px;
        margin: 0px 0px 4px;
      }
      .training-feed-date {
        	color: #5F7388;
        font-size: 12px;	font-style: italic;	line-height: 22px;
      }
      .training-feed-item-link {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }



.megamenu {
  display: none;
  height: 401px;
  background-color: #fff;
  z-index: 10;
  overflow: visible;
  border-top: 1px solid #DCE4EC;

  &.active {
    display: block;
  }

  .departments-row {
      .departments-col {
        height: 200px;
        position: relative;
        transition: all 0.2s ease;
        background: linear-gradient(163.81deg, #fff 0%, #fff 100%);
        &:not(:last-child){
          &:after {
            content: " ";
            position: absolute;
            right: 0;
            top: calc(50% - 40px);
            box-sizing: border-box;
            height: 80px;
            width: 1px;
            border: 0.5px solid #DCE4EC;
          }
        }
        .title-block {
          color: #959FAA;
          font-size: 16px;
          font-weight: 700;
          line-height: 22px;
          text-align: center;
          position: absolute;
          left: 0;
          right: 0;
          margin: 0 auto;
          top: 120px;
          padding: 0 32px;
        }
        .img-block {
          position: absolute;
          margin: 0 auto;
          left: 0;
          right: 0;
          bottom: 90px;
          display: block;
          width: 75%;
          img {
            display: block;
            width: auto;
            height: auto;
            margin: 0 auto;
          }
        }

        .menu-card-link {
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 100%;
          height: 100%;


        }

        &:hover {
          box-shadow: 15px 15px 45px 0 rgba(0,0,0,0.23);
          z-index: 100;
          &:after { display: none; }
          .img-block img {filter: brightness(0) invert(1);}
          .title-block { color: $color-white }
          &.color1 {background: linear-gradient(163.81deg, #004E85 0%, #083B69 100%);}
          &.color2 {background: linear-gradient(163.81deg, #004E85 0%, #083B69 100%);}
          &.color3 {background: linear-gradient(163.81deg, #004E85 0%, #083B69 100%);}
          &.color4 {background: linear-gradient(163.81deg, #004E85 0%, #083B69 100%);}
          &.color5 {background: linear-gradient(163.81deg, #004E85 0%, #083B69 100%);}
          &.color6 {background: linear-gradient(163.81deg, #004E85 0%, #083B69 100%);}
          &.color7 {background: linear-gradient(163.81deg, #C66BB7 0%, #AC63A0 100%);}
          &.color8 {background: linear-gradient(163.81deg, #004E85 0%, #083B69 100%);}
        }
      }
    }
  }



footer {
  background-color: $primary-color;
  padding: 32px 0 40px 0;

  .container {
    padding-left: 56px;
    padding-right: 56px;
  }

  .footer-links {
    color: #fff;
    font-size: 14px;
    line-height: 64px;
    text-align: center;
    padding: 8px 0px;
    a {
      margin: 0 8px;
    }
  }

  .disclaimer {
    color: $color-white;
    font-size: 12px;
    line-height: 17px;
     text-align: center;
  }

  .footer-logo-block {
    position: relative;
    padding: 0px 0px;
    display: flex;
    align-items: center;
    height: 64px;
    img {
      height: auto;
      width: 150px;
    }
  }

  .back-to-top {
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    line-height: 64px;
    padding: 8px 0px;
    span.icon {
      margin-right: 8px;
    }
  }
}
