a:focus {
  outline: 0;
}
#page-wrapper, #footer-wrapper {
	background: none;
	padding: 0px;
}
#footer-wrapper .section {
	padding: 0px;
}
#footer-wrapper .block {
	border: 0px;
	margin: 0px;
	padding: 0px;
}
#footer-wrapper .content {
	margin: 0px;
}
.mm-menu input {
	color: #999999;
}
.breadcrumb {
	padding: 0px;
}
#block-poll-recent > h2 {
  display: none;
}
.sidebar .block {
  border: none;
}
.btn.btn-block.btn-primary.margin-lx.form-submit {
  background-color: #195695;
  background-image : none !important;
  border-radius: 1px;
  color: #fff;
  width: 50%;
  margin-left: 130px;
}
.pre-footer h2, .pre-footer span {
	font: inherit;
}
.pre-footer li {
	list-style: none;
}
body.admin-menu #admin-menu {
		font-size: 12px;
	}
body.admin-menu {
	margin-top: auto !important;
}
#admin-menu .dropdown a, #admin-menu .dropdown li > span {
	padding: 4px 6px;
	line-height: 18px;
}
/*
.mm-menu {
	min-width: 21.5%;
}
*/
.comment-form .form-type-textarea > label {
	display: none;
}
.comment-form .form-actions {
	padding: 0px;
	margin: 0px;
}
.comment-form .btn-primary {
	background-image: none;
	border-radius: 0px;
	margin: 0px 5px 0px 0px;
	background-color: #195695;
	color: #FFF;
	border-color: #15497f;
}
.view-mediaarchive ul#masonry-container li {
	overflow: hidden;
}
div.tags_help {
	display: block;
	color: #888;
	font-size: 14px;
}
div.tags_help div {
	color: #195695;
	font-weight: bold;
	font-style: normal;
	display: inline-block;
}
@media (min-width: 991px) {
	.primary-nav li a {
		color: #195695;
	}
	body.admin-menu #page-wrapper {
		padding-top: 25px;
	}	
	body.responsive-preview-frame #page-wrapper {
		padding: 0px;
	}
	.no-js .sb-search, .sb-search.sb-search-open {
		width: calc(100% - 200px);
	}
}
.primary-nav li a.hover {
	color: #FFF;
}
.fieldset-legend {
	font-size: 14px;
	font-weight: 400;
}
.block.block-aggregator h2{
/* ,.block.block-instagram-block h2 { */
	font-size: 18px;
	font-weight: bold;
	margin: 10px 0px;
}
.region-prefooter-first-column .block.block-aggregator .more-link, .front #page-title, .page-site-map #page-title {
	display: none;
}
.block.block-aggregator ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.block.block-aggregator li {
	margin-bottom: 8px;
}
.front .view-more {
	color: #b2bb21 !important;
}		
div.container.main .view-more:hover {
	color: #9da51d !important;
	text-decoration: none;
}
#user-login .description {
	display: none;
}
.sidebar .block {
	padding: 0px;
	margin: 0px;
}
#block-aggregator-feed-2  a {
	display: block;
	font-size: 14px;
	font-style: normal;
	/*line-height: 1.26;*/
	padding: 3px 5px;
	border-top: solid 1px #cecece;
}
#modal-content legend {
	font-size: inherit !important;
}
#block-aggregator-feed-2 > h2{
  border-top: 2px solid #696969 ;
	border-bottom: none ;
	padding: 6px; 
}
.page-media-archive  ul {
	padding: 0px;
	margin: 0px;
}
/*
.field ul {
	padding: 0 0 0.25em 40px;
}
*/
.weather-widget ul {
	padding: 0 0 0 15px !important;
}
.content {
	padding: 0px;
}
.node-org-chart ul {
	padding: 0 0 0.25em 15px;
	list-style: none;
}
/*Feedback form Submit button*/
.btn.pull-right.btn-success.form-submit {
	background-color: #b2bb21;
	background-image : none;
	border-radius: 0;
	border-color: #9da51d;
	color: #fff;
	border: 1px solid transparent;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	padding : 6px 12px;
	text-align: center;
	margin-bottom: 0;
	margin-right: 0;
}
.btn.pull-right.btn-success.form-submit:hover, .btn.pull-right.btn-success.form-submit:focus,
.btn.pull-right.btn-success.form-submit:active {
	background-color: #899019;
	border-color: #6c7114;
	color: #fff;
}
ol.tutorial {
 margin: 0 0 0 24px !important;
}
.agenda-block .cal_0 { background-color: #668CD9; }
.search-suggestions_results ul {margin: 0 15px 15px 15px !important;}

table.calendar tr th, table.calendar tr, table.calendar tr.even {
	background: none;
}
table.calendar tbody {
	border: 0px;
}
.cal-widget table.calendar td.today {
	background-color: rgb(205, 222, 239);
}
.microsite .calendar-title.widget {
	border: none;
}
.cal-widget .prev-next {
	visibility: hidden;
}
.sp-layer.sp-padding.sp-title > a {
	color: inherit;
}
a.badge, a.header__logo:focus {
	outline:none;
}
.front .alert {
	margin-top: 0px;
}
.not-front .alert {
	margin-top: 20px;
}
.region-featured div.contextual-links-wrapper {
	top: 120px;
}
.node-article .article-image {
	margin: 0px !important;
}
.rate-widget-fivestar ul li a {
	color: transparent;
	height: 20px;
	overflow: hidden;
	width: 18px;
}
.action-rating a {
	bottom: 2px;
	left: 0px;
	position: absolute;
	outline: none;
}
.rate-widget-fivestar ul li {
	width: 25px;
	height: 30px;
}
.rate-fivestar-btn-filled, 
.rate-fivestar-btn-empty{
	background-image:none;
}
.feed {
	margin-bottom: 15px !important;
}
ol.feed.mm-list a.active {
	color: #FFF;
}
/* Poll css */
.advpoll_custom .form-item.form-type-checkboxes, .node-advpoll .poll, 
.advpoll_custom .form-item.form-type-radios{
	margin: 0;
	padding: 0;
	border-bottom: none;
}
.advpoll_custom .form-item label {
  font-size: 14px;
}
.advpoll_custom .form-item, .node-advpoll .poll-bar .voted , .node-advpoll .poll-bar{
	font-size: 14px;
	border-bottom: 1px solid #cecece;
	padding-bottom: 5px;
}
.advpoll_custom .form-checkboxes > div:first-of-type, .node-advpoll .poll > div:first-of-type, .advpoll_custom .form-radios > div:first-of-type{
	border-top: 1px solid #cecece;
}
.node-advpoll .poll .text {
  margin-right: 0;
}
.advpoll-write-in .form-item-write-in {
	border-bottom: none;
}
.node-advpoll h2 a {
	text-decoration:none;
	outline: none;
  cursor: default;
} 
.btn-info, .remove_link {
	outline:none !important;
	text-decoration: none;
}
.throbber {
  background: transparent url("../images/loading.gif") no-repeat scroll 0 0 !important;
  display: inline-block !important;
  height: 16px !important;
  margin: -3px 0 !important;
  width: 16px !important;
}
.responsive-preview-active header .gwiz {
	z-index: auto !important;
}
/*-
header .gwiz {
	z-index: 7999 !important;
}
*/
.mfp-content .white-popup {
	z-index: 8999 !important;
}
ul.level-1, ul.level-2 {
    z-index: 999 !important;
}
#admin-menu, #admin-menu .dropdown {
    z-index: 0;
}
.darkHeader #admin-menu, .darkHeader #admin-menu .dropdown {
	z-index: 9999 !important;
}
img.admin-menu-icon {
	height: 15px;
}
.alert-message-container {
	min-width: 40%;
}
.alert-warning-container {
	min-height: 90px;
}
.feed__link {
	display: inline;
}
.alert-container .alert-item {
	display:none;
}
/* Poll write-in text field css */
/*
.advpoll_custom .form-item:last-child {
	border: medium none;
}
*/
.advpoll_custom input[type="radio"], .advpoll_custom input[type="checkbox"] {
	margin: 0px;
}
.advpoll-write-in .form-item	{
	display: inline-block;
	left: auto;
	position: relative;
	top: auto;
	width: 100%;
}
.advpoll-write-in {
	position: relative;
	width: 100%;
	border-bottom: 1px solid #cecece;
}
.advpoll-write-in  .form-text {
  width: auto;
}
/************ Start - My topics view link css **************/
.mm-list .view-more-container {
	border: 0 none;
	float: right;
	margin-top: -3px;
}
.view-my-topics-feed .view-more-container  a{
	color:#fff !important;
}
.view-my-topics-feed .view-more-container  a:hover{
	color:#fff !important;
	text-decoration:underline;
}
.view-my-topics-feed .view-more-container .icon-triangle-right{  
  float:right;
}
.view-my-topics-feed  .view-more span::before {
	font-size:14px;
}
.view-my-topics-feed .view-my-topics-feed .view-footer {
	margin-top: 20px;	
}
/************ End - My topics view link css **************/
#modal-content .content-type-button span {
	top:0px;
}

.node-links  ul,
.node-containers ul.list-clean.panel-list {
  padding: 0px !important;
} 
.node-type-panopoly-page #content {
	width: auto;
}
.node-type-panopoly-page .row.column, #page-page {
	margin: 0px;
}
.col-md-3.sidebar .entry .alignleft {
	float: none;
	margin: 0px;
}
.col-md-3.sidebar .entry .alignleft img {
	width: 100%;
}
.microsite .cal-widget table.calendar td.weekend .day {
	color: #195695;
}
.node-advpoll-form .form-item {
	white-space: normal;
}
.owl-carousel .owl-item {
	margin: 0px;
}
#modalContent {
	z-index: 8999 !important;
}
/*My links view more page css*/
ul.links_list li{
margin-left:30px;
}
.node-advpoll h2 {
	margin : 0px;
}
/* Styles for Microsite */
.node-page-form .field-type-builder ul.links.inline li a,
.node-page-form .item-list ul li a,
.node-microsite-form .field-type-builder ul.links.inline li a,
.node-microsite-form .item-list ul li a,
.node-career_learning-form .field-type-builder ul.links.inline li a,
.node-career_learning-form .item-list ul li a ,
.node-toolbox-form .field-type-builder ul.links.inline li a,
.node-toolbox-form .item-list ul li a {
	font-size: 13px;
}
.node-page-form legend,
.node-microsite-form legend,
.node-career_learning-form legend,
.node-toolbox-form legend {
	margin:0px;
	height:30px;
	width: 100.2%;
	line-height: 30px;
}
.node-article-form  a.imce-filefield-opener, .node-article-form div.image-widget-data,
.node-microsite-form  a.imce-filefield-opener, .node-microsite-form div.image-widget-data,
.node-career_learning-form  a.imce-filefield-opener, .node-career_learning-form div.image-widget-data,
.node-toolbox-form  a.imce-filefield-opener, .node-toolbox-form div.image-widget-data {
  float: left;
}
/*
.node-article-form  a.imce-filefield-opener,
.node-microsite-form a.imce-filefield-opener,
.node-career_learning-form a.imce-filefield-opener,
.node-toolbox-form a.imce-filefield-opener {
	background: #1b9ec6 none repeat scroll 0 0;
	background: rgba(0, 0, 0, 0.51) none repeat scroll 0 0;
	display: block;
	color: #fff;
	text-decoration:none;
	padding: 5px;
}
*/
.node-article-form  div.image-widget-data,
.node-microsite-form  div.image-widget-data,
.node-career_learning-form  div.image-widget-data,
.node-toolbox-form  div.image-widget-data {
	margin-left: 25px;
}
.node-page-form .image-widget-data input,
.node-microsite-form .image-widget-data input,
.node-career_learning-form .image-widget-data input,
.node-toolbox-form .image-widget-data input {
	display: inline;
	font-size: 14px;
}
/*
.node-article-form .image-widget-data .form-submit, 
.node-announcements-form .image-widget-data .form-submit, 
.node-microsite-form .image-widget-data .form-submit, 
.node-career_learning-form .image-widget-data .form-submit,
.node-toolbox-form .image-widget-data .form-submit {
	background: #1b9ec6 none repeat scroll 0 0;
	background: rgba(0, 0, 0, 0.51) none repeat scroll 0 0;
	border-radius: 0px;
	color: #fff;
	border: none;
	margin-left: 15px;
}
*/
.node-article-form #edit-actions .form-submit, 
.node-announcements-form #edit-actions .form-submit,
.node-microsite-form #edit-actions .form-submit,
.node-career_learning-form #edit-actions .form-submit,
.node-toolbox-form #edit-actions .form-submit {
	margin-left: 0px;
}
.node-page-form  fieldset,
.node-microsite-form  fieldset,
.node-career_learning-form  fieldset,
.node-toolbox-form  fieldset {
	border: 1px solid #ccc;
}
.node-microsite-form  fieldset div.fieldset-wrapper,
.node-career_learning-form  fieldset div.fieldset-wrapper,
.node-toolbox-form  fieldset div.fieldset-wrapper {
	padding: 0px 10px;
}
.node-article-form fieldset .fieldset-legend,
.node-announcements-form fieldset .fieldset-legend,
.node-microsite-form fieldset .fieldset-legend,
.node-career_learning-form fieldset .fieldset-legend,
.node-toolbox-form fieldset .fieldset-legend {
	margin: 0;
	padding: 0;
	position: relative;
	text-transform: none;
}
.node-article-form fieldset.date-combo .container-inline-date .date-padding, 
.node-article-form fieldset .fieldset-wrapper, 
.node-announcements-form fieldset.date-combo .container-inline-date .date-padding, 
.node-announcements-form fieldset .fieldset-wrapper,
.node-microsite-form fieldset.date-combo .container-inline-date .date-padding, 
.node-microsite-form fieldset .fieldset-wrapper,
.node-career_learning-form fieldset.date-combo .container-inline-date .date-padding, 
.node-career_learning-form fieldset .fieldset-wrapper,
.node-toolbox-form fieldset.date-combo .container-inline-date .date-padding, 
.node-toolbox-form fieldset .fieldset-wrapper,
.node-career_profiles-form fieldset.date-combo .container-inline-date .date-padding, 
.node-career_profiles-form fieldset .fieldset-wrapper {
	padding: 0px;
}
.node-page-form input.form-file,
.node-microsite-form input.form-file,
.node-career_learning-form input.form-file,
.node-toolbox-form input.form-file {
	padding: 2px;
	border: 1px solid #ccc;
	border-top-color: #999;
	background: #fff;
	color: #333;
	font-size: 14px;
	margin-right: 10px;
}
.node-microsite-form .file-widget.form-managed-file.clearfix > input[type="file"] {
	float: left;
	margin-left: 25px;
}
.node-form fieldset {
	padding: 5px;
	margin: 15px 0;
}
.node-form .field-type-builder ul.links.inline li a, .node-form .field-type-builder .col-xs-1, 
.node-form .field-type-builder .col-sm-1, 
.node-form .field-type-builder .col-md-1, 
.node-form .field-type-builder .col-lg-1, 
.node-form .field-type-builder .col-xs-2, 
.node-form .field-type-builder .col-sm-2, 
.node-form .field-type-builder .col-md-2, 
.node-form .field-type-builder .col-lg-2, 
.node-form .field-type-builder .col-xs-3, 
.node-form .field-type-builder .col-sm-3, 
.node-form .field-type-builder .col-md-3, 
.node-form .field-type-builder .col-lg-3, 
.node-form .field-type-builder .col-xs-4, 
.node-form .field-type-builder .col-sm-4, 
.node-form .field-type-builder .col-md-4, 
.node-form .field-type-builder .col-lg-4, 
.node-form .field-type-builder .col-xs-5, 
.node-form .field-type-builder .col-sm-5, 
.node-form .field-type-builder .col-md-5, 
.node-form .field-type-builder .col-lg-5, 
.node-form .field-type-builder .col-xs-6, 
.node-form .field-type-builder .col-sm-6, 
.node-form .field-type-builder .col-md-6, 
.node-form .field-type-builder .full .member-half,
.node-form .field-type-builder .col-lg-6,
.node-form .field-type-builder .col-xs-7,
.node-form .field-type-builder .col-sm-7,
.node-form .field-type-builder .col-md-7,
.node-form .field-type-builder .col-lg-7,
.node-form .field-type-builder .col-xs-8,
.node-form .field-type-builder .col-sm-8,
.node-form .field-type-builder .col-md-8,
.node-form .field-type-builder .col-lg-8,
.node-form .field-type-builder .col-xs-9,
.node-form .field-type-builder .col-sm-9,
.node-form .field-type-builder .col-md-9,
.node-form .field-type-builder .col-lg-9,
.node-form .field-type-builder .col-xs-10,
.node-form .field-type-builder .col-sm-10,
.node-form .field-type-builder .col-md-10,
.node-form .field-type-builder .col-lg-10,
.node-form .field-type-builder .col-xs-11,
.node-form .field-type-builder .col-sm-11,
.node-form .field-type-builder .col-md-11,
.node-form .field-type-builder .col-lg-11,
.node-form .field-type-builder .col-xs-12,
.node-form .field-type-builder .col-sm-12,
.node-form .field-type-builder .col-md-12,
.node-form .field-type-builder .col-lg-12,
.node-form .field-type-builder.col-md-12,
.node-form .field-type-builder.col-md-9,
.node-form .field-type-builder.col-md-3 {
	padding:3px;
}

.builder-ui-wrapper  {
	border: 1px solid #CCC;
}
/*.page-node-add-page .breadcrumb,
.page-node-add-microsite .breadcrumb,
.page-node-edit.node-type-microsite .breadcrumb,
.page-node-add-career-learning .breadcrumb,
.page-node-edit.node-type-career-learning .breadcrumb,
.page-node-add-toolbox .breadcrumb,*/
.page-node-edit .breadcrumb,
.page-node-add .breadcrumb,
.page-search-results .breadcrumb,
.page-search-people .breadcrumb,
.page-search-gwiz .breadcrumb {
	display:none;
}
[class^="icon-Icon_"], [class*=" icon-Icon_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#page-title {
	background:none;
}
.node-microsite-form  .vertical-tabs, .node-microsite-form  .form-actions,
.node-career_learning-form .vertical-tabs, .node-career_learning-form .form-actions, .group-microsite-settings,
.node-toolbox-form  .vertical-tabs, .node-toolbox-form  .form-actions {
	clear:both;
}
.not-admin-user .field-name-field-microsite-header ul.links.inline, 
.not-admin-user .field-name-field-microsite-header .builder-ui-move,
.not-admin-user .field-name-field-microsite-header .column-actions-links .item-list > ul > li:not(:first-child),
.not-admin-user .field-name-field-microsite-rightside ul.links.inline,
.not-admin-user .field-name-field-microsite-rightside .builder-ui-action-links > ul.links.inline > li,
.not-admin-user .field-name-field-microsite-rightside .builder-ui-column-inside .column-actions-links .item-list > ul > li:not(:first-child),
.not-admin-user .field-name-field-microsite-builder .builder-actions > ul.links.inline > li:not(:first-child),
.not-admin-user .field-name-field-career-learning .builder-actions > ul.links.inline > li:not(:first-child),
.not-admin-user .field-name-field-toolbox-builder .builder-actions > ul.links.inline > li:not(:first-child),
.not-admin-user .field-name-field-microsite-rightside .builder-ui-row-inner .builder-ui-row-action .builder-ui-move,
.not-admin-user .field-name-field-microsite-rightside .builder-ui-column-inner .column-actions-links .builder-ui-move {
	display:none !important;
}
.not-admin-user .field-name-field-microsite-header .builder-ui-column-inner,
.not-admin-user .field-name-field-microsite-rightside .builder-ui-column-inner {
	margin: 0px;
}
.not-admin-user .field-name-field-microsite-header .builder-ui-row-content-wrapper,
.not-admin-user .field-name-field-microsite-rightside .builder-ui-row-content-wrapper {
	padding: 0px;
}
.node-microsite iframe {
	width: 98% !important;
}
.node-microsite-form .vertical-tabs,
.node-career_learning-form .vertical-tabs,
.node-toolbox-form .vertical-tabs {
	margin-top: 3em;
}
.microsite h1 {
	display: inline-block;
}
.page-node-.node-type-microsite h1#page-title {
	display: none;
}
.page-node-.page-node-edit.node-type-microsite h1#page-title {
	display: block;
}
.page-node-add-article-builder-popup .breadcrumb, 
.page-node-add-article-builder-popup #admin-menu {
	display:none;
}
/*Ckeditor tabs*/
.ckeditor-tabber a {
	color: #7eb0cb;
	text-decoration: none;
}
dl.ckeditor-tabber dt {
	border: none;
	background-color: #f6f9fc;
}
dl.ckeditor-tabber dt a {
	color: #7eb0cb;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	font-weight: 600;
	list-style: outside none none;
	margin: 0;
	padding: 13px 15px;
}
dl.ckeditor-tabber dt.current {
	background: #FFF;
	border: 1px solid #7eb0cb;
	position: relative;
	z-index: 3;
	border-bottom: 1px solid #FFF;
}
dl.ckeditor-tabber dt:first-child {
	left:0px !important;
}
dl.ckeditor-tabber dd {
	border: 1px solid #7eb0cb;
	min-height: 250px;
}
.page-node-edit.node-type-microsite .btn.btn-block.btn-primary.margin-lx.form-submit {
	margin-left: 95px;
}
.builder-ui-column-inner {
	margin:0px;
}
#block-views-commercial-news-block-2,
#block-views-kudos-block-1  {
	border-top: 2px solid #195695;
	width: 100%;
}
/* #block-views-commercial-news-block-2 ul{
	list-style-type: none;
  margin-top: 10px;
}
.module ul {
	padding:0px;
}*/
@media (max-width: 990px) {
	.node .field-name-field-microsite-builder.col-md-9 {
		margin: 0px;
		padding: 0px;
	}
	.entry .alignleft {
		float: none;
	}
}
@media (min-width: 991px) {
	.node .field-name-field-microsite-builder.col-md-9 {
		margin-left: -15px;
		margin-right: 15px;
	}
}
.field-name-field-microsite-rightside .builder-row-title,
.field-name-field-microsite-rightside .module.feedback_block,
.node-type-page .module.feedback_block {
	margin: 0px -15px;
}
.field-name-field-microsite-rightside .col-md-12.col-sm-12.col-lg-12 {
	padding: 0px !important;
}
.builder-content .node-downloads {
	border-bottom: 1px solid #c1c1c1;
}
/*.builder-content-wrapper:first-child article {
	border-top: 1px solid #c1c1c1;
}*/
/* .result-list__details {
	padding:0px !important;
	margin-top:20px;
} */
#views-exposed-form-commercial-news-page h2.hd-title {
	margin-top: 7px;
}
.icon-docx {
  color: #195695; }

.icon-xlsx {
  color: #b2bb21; }

.icon-pptx,.icon-ppsx {
  color: #f4981d; }
	
.icon-docx:before {
  content: "B"; }

.icon-pptx:before,.icon-ppsx:before {
  content: "G"; }

.icon-xlsx:before {
  content: "K"; }
/* Org Chart Starts */
.org-chart-div-container .org-chart-container .org-chart-header .add-person{float:right; margin-left:16px;}
.cursor{cursor:pointer;}
.diff-manager{border:1px dashed #195695 !important;}
/* Org Chart Ends */
#imce-search-results div a {
	display: none !important;
}
#imce-search-results .toggle{
	display:block !important;
}
.microsite .tabs {
	padding-top: 10px;
}
#op-contents .op-content {
	/*height:400px;
	overflow: scroll;*/
}
header .interior-nav-container {
	z-index: 10 !important;
}
a.header__logo  {
	z-index: 1;
}
.form-type-date-popup > label {
	display: block;
}
.commercial-news li strong {
	display: inline;
}
.page-node-add-microsite .field-name-field-microsite-nav, 
.page-node-edit .field-name-field-microsite-nav {
	display: block;
}
.field-name-field-microsite-nav {
	display: none;
}
.view.view-career-and-planning.view-id-career_and_planning.view-display-id-block_1 ul,
.view.view-career-and-planning.view-id-career_and_planning.view-display-id-block_2 ul,
.view.view-toolbox-browse-by.view-id-toolbox_browse_by.view-display-id-block_1 ul ,
.view.view-kudos.view-id-kudos.view-display-id-block_2 ul,
.view.view-career-category-view.view-id-career_category_view.view-display-id-block ul {
  padding: 0;
} 

/* Search results */
.view-id-people li{
	list-style:none; overflow: hidden; margin-top: 20px;
}
.view-search-results .view-filters{display:none;}
.view-search-results .views-row{margin-top:20px; overflow:hidden;}
.view-search-results .views-row-first{margin-top:0px;}
.item-list .pager{border-top: 1px solid #c1c1c1;margin: 35px 0;padding-top: 13px;border-radius: 0; width: 100%;}
.pager{display: inline-block;padding-left: 0;margin: 0;border-radius: 7px;}
.pager > li {display: inline;}
.pager > li > a{
    position: relative;
    float: left;
    padding: 6px 12px !important;
    line-height: 1.26;
    text-decoration: none;
    color: #5b8fa4;
    background-color: #fff;
    border: 1px solid none;
    border-radius: 7px;
    margin-left: -1px;
}
.pager > li > a:hover, .pager > li > a:focus {
	color: #406473;
	background-color: #f4f4f4;
	border-color: #ddd;
}		
.pager > .pager-current{position: relative;float: left;padding: 6px 12px !important;line-height: 1.26;z-index: 2;color: #195695;background-color: #cadef2;cursor: default;margin-left: -1px; border-radius: 7px;}
.item-list .pager li.pager-ellipsis{display:none;}
#block-views-people-block h2, #block-commportal-search-gwiz-results h2{border-width: 2px;padding: 5px 0 10px;font-size: 18px;border-top: solid 2px #696969;color: #696969;margin: 0;}
#block-views-people-block .people-list__name {color: #195695;font-weight: 700;}
.search-filter .form-control[readonly]{cursor:auto;background-color:#fff;}
.node-readmore > a {
	font-size: 16px;
}
.microsite #content {
	width: 100%;
}
.microsite .sm-clean a.active {
  background: #eaf9ff;
}
.microsite ul.sm-clean ul a.active {
  background: #b7eaff !important;
}
header.home-header .home-nav-container {
	z-index: 10;
}
/* Anchor link active color in media archive and career pages */
ol.media-archive-year li a.active, #block-views-kudos-block-1 ul li a.active, #block-views-commercial-news-block-2 ul li a.active, 
#block-commportal-custom-months-block-cl ul li a.active{
	color: #406473;
	border-left: 2px solid #195695;
}
.view-career-category-view.view-id-career_category_view ol.media-archive-year li a.active{
	border-left: 2px solid #406473;
}
/*Alignment with page title for toolbox and career learning
div#sidebar-first.column.sidebar div.section {
  margin-left: -15px;
}
#sidebar-first {
	padding-right:15px;
}*/
.cal-widget table.calendar ol li:first-child a, .cal-widget table.calendar ul li:first-child a {
	text-indent: -9999px;
}
.tooltip-content.overflow {
	height: 180px;
	/*overflow-y: scroll;*/
}
.modal-content input[type="file"],.form-item-files-file > input[type="file"] {
	display: inline-block;
	font-size: 13px;
}
.page-media-archive #content > .section {
	padding: 0px;
}
.pager.pager-load-more {
	float: right;
}
ol.commercial-news .result-list__location,
.view-my-topics-feed ol.feed.mm-list .result-list__location,
.view-trending-in-commercial .views-row .result-list__location {
	font-style: normal;
}
.link-wrapper {
	display:inline-block;
}
.cal-widget table.calendar ol li:first-child::after,
.cal-widget table.calendar ul li:first-child::after {
	top: 23px;
}
/*
fieldset.form-wrapper > legend {
	margin-top: 5px;
	margin-bottom: 0px;
	height: auto;
	line-height: 1.3;
}
*/
.settings-modal .followed-tags {
	height: 230px;
}
.white-popup  {
	margin: 60px auto 20px;
}
#block-commportal-custom-months-block-cl .list__accordion a {
  padding: 3px;
}
.poll .percent {
	margin-top: -3em;
}
.view.view-career-and-planning.view-id-career_and_planning.view-display-id-page .item-list ul,
 .view.view-career-and-planning.view-id-career_and_planning.view-display-id-page_1 .item-list ul {
	list-style-type: none;
}
#block-commportal-custom-months-block-cl ul{
	padding:0px;
}
#block-commportal-custom-months-block-cl ul.list__accordion li {
	border-bottom: 1px solid #cecece;
}
#block-commportal-custom-months-block-cl ul li:last-child {
	border: 0px;
}
/*header.microsite .header__logo img {
	max-width:100%;
}*/
/* FAQs */
#field-faq-values .form-item label {
	width: 5%;
	text-align: right;
}
.field-type-faqfield h3 > a {
	color: #006993 !important;
	font-size: 16px !important;
}
.field-type-faqfield .ui-state-default, 
.field-type-faqfield .ui-widget-content .ui-state-default, 
.field-type-faqfield .ui-widget-header .ui-state-default,
.field-type-faqfield .ui-state-hover, 
.field-type-faqfield .ui-widget-content .ui-state-hover, 
.field-type-faqfield .ui-widget-header .ui-state-hover {
	background: none;
	border: none;
}
.field-type-faqfield h3, .field-type-faqfield .faqfield-answer > p {
	font-family: "Trade Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-size: 16px;
}
.field-type-faqfield {
	margin-bottom: 20px;
}
.field-type-faqfield .ui-accordion .ui-accordion-header, .field-type-faqfield .ui-widget-content {
	padding-top: 5px;
	padding-bottom: 5px;
}
.faqfield-answer {
	border: none;
}
h3.faqfield-question {
	border-top: 1px solid #006993 !important;
	border-radius: 0px;
}
.node-type-microsite .primary-nav > ul > li:nth-child(2) > a span.sub-arrow,.node-type-page .primary-nav > ul > li:nth-child(3) > a span.sub-arrow {
	border-color: #195695 transparent transparent;
}
.node-type-microsite .primary-nav > ul > li:nth-child(2):hover  > a span.sub-arrow, .node-type-page .primary-nav > ul > li:nth-child(3):hover  > a span.sub-arrow {
	border-color: #FFF transparent transparent;
}
.navigation .sm-clean > li > ul a span.sub-arrow {
	border-color: transparent transparent transparent #fff;
	border-style: dashed dashed dashed solid;
}
.sm-clean-vertical li a, .sm-clean ul li a {
	border: none;
}
body.front .primary-nav > ul > li:nth-child(1) > a,
.node-type-microsite .primary-nav > ul > li:nth-child(3) > a,
.page-career-and-learning .primary-nav > ul > li:nth-child(5) > a, 
.node-type-toolbox .primary-nav > ul > li:nth-child(4) > a,
body.page-tools .primary-nav > ul > li:nth-child(4) > a, 
.node-type-career-learning .primary-nav > ul > li:nth-child(5) > a,
.node-type-page .primary-nav > ul > li:nth-child(2) > a ,
.page-leadership .primary-nav > ul > li:nth-child(2) > a{
  color: #fff;
	background: #195695;
  text-decoration: none; 
}
.primary-nav > ul.level-0 > li > a:hover {
	background-color: #01284e !important;
}
.view-similar-articles-section ul,
.view-similar-announcements-section ul {
	padding: 0px;
}
.view-similar-articles-section li,
.view-similar-announcements-section li {
	list-style: none;
	padding: 6px 10px !important;
	font-size: 14px;
	border-bottom: solid 1px #cecece;
}
.view-similar-articles-section ul li:first-child,
.view-similar-announcements-section ul li:first-child {
	border-top: solid 1px #cecece;
}
/* Media archive filter by Department */
.media-archive-channel {
	display: none;
}
.mediaarchive-department .level-0 {
	border-bottom: 1px solid #c1c1c1;
	display: block;
	overflow: hidden;
}
.mediaarchive-department li {
	margin: 0;
	list-style-type: none;
}
.mediaarchive-department a {
	display: block;
	padding: 5px;
	text-decoration: none;
}
ul.mediaarchive-department {
	list-style-type: none;
	padding: 0;
	font-size: 14px;
	font-weight: bold;
	line-height: 25px;
	margin-bottom: 0;
	border-top: 1px solid #c1c1c1;
}
.gallery-cell {
	float: left;
	padding: 10px;
	margin: 10px;
	height: 200px;
	width: 30%;
}
.gallery-cell > .views-field-title {
	margin-bottom: 5px;
}
.col-md-12.view-more-news {
	padding: 0px;
}
/* Calendar styles */
.calendar-title {
	background: none 0px 0px repeat scroll rgb(25, 86, 149);
}
.qtip-content {
	overflow: hidden;
}
.cal-widget table.calendar {
	margin: 0; 
}
.cal-widget table.calendar th {
	font-weight: normal;
	padding: 0;
	border-bottom: 1px solid #195695; 
}
.cal-widget table.calendar th span {
	display: none;
}
.cal-widget table.calendar td {
	border: none; 
}
.cal-widget table.calendar td.weekend {
	background-color: transparent; 
}
.cal-widget table.calendar td.weekend .day {
	color: #195695; 
}
.calendar-title,
.calendar-title a {
	color: #FFF !important;
}
.calendar-title {
	color: #195695;
	text-align: center;
	font-size: 16px;
	margin: 0;
	padding: 5px;
}
.calendar-title.widget span {
	display: inline-block !important;
}
.cal-widget table.calendar td .day {
	color: black;
	font-size: 14px;
	font-weight: normal;
	left: 0;
	right: 0;
	text-align: center; 
}
.cal-widget table.calendar ol, .cal-widget table.calendar ul {
	top: -2px;
	padding: 0; 
}
.cal-widget table.calendar ol li, .cal-widget table.calendar ul li {
	display: none; 
}
.cal-widget table.calendar ol li:first-child, .cal-widget table.calendar ul li:first-child {
	display: block; 
}
.cal-widget table.calendar ol li:first-child:after, .cal-widget table.calendar ul li:first-child:after {
	background: #195695;
	border-radius: 3px;
	content: '';
	height: 6px;
	left: 50%;
	margin-left: -3px;
	position: absolute;
	top: 25px;
	width: 6px;
}
.cal-widget table.calendar ol li:first-child a, .cal-widget table.calendar ul li:first-child a {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	text-indent: 100%; 
}
/* Leadership */
.more_info{padding-bottom:5px;}
.member__profile-image{margin-top:10px;}
.member_admin_info{float:left;}
.unit-staff .contextual-links-wrapper{top:auto;}
.unit-staff .contextual-links-trigger, .unit-staff div.contextual-links-wrapper ul.contextual-links{position:relative;top:-100px;float:right;}
.node-career-learning table{
	font-size:16px;
}
/* Stock Ticker */
div.stockTicker {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
}
div.stockTicker span.quote {
	margin: 0;
	font-weight: bold;
	color: #fff;
}
div#dvStockTicker a {
	color: #fff;
	text-decoration: none;
}
div#dvStockTicker a > div {
	margin-bottom: 10px;
}
.up_green {
	background: url("../images/up.gif") no-repeat left top;
	padding-left: 10px;
	margin-right: 5px;
}
.down_red {
	background: url("../images/down.gif") no-repeat left top;
	padding-left: 10px;
	margin-right: 5px;
}
#block-commportal-custom-browse-tools #available-tools {
	border: medium none !important;
	clear: both;
	height: 350px;
	margin-right: -15px;
	padding: 0;
	box-shadow: none;
}
#block-commportal-custom-browse-tools #available-tools hr,
#block-commportal-custom-browse-tools #available-tools checkbox {
	margin: 0px;
}
#block-commportal-custom-browse-tools .alphas {
	border-bottom: 1px solid #c1c1c1;
	height: 20px;
}
#block-commportal-custom-browse-tools #available-tools label {
	padding: 0px;
}
#block-commportal-custom-browse-tools .alphas a {
	display: block;
	float: left;
	font-size: 11px;
	text-align: center;
	width: calc(100% / 26);
}
#profile-my-links .remove_link > .icon-remove {
	top: 4px;
}
.settings-modal .panel {
	overflow: auto;
}
.settings-modal #available-tags {
  padding-left: 10px;
  height: 194px; 
}
/* .col-md-4 .node-thumbnail-text li.media, .col-md-4 .node-product-list li.media {
	float: none;
	width: 100%;
} */
/* .col-md-3 .node-thumbnail-text .row.margin-bottom15 img, .col-md-4 .node-thumbnail-text .row.margin-bottom15 img{
	float: none;
	width: 100%;
} */

.node-product-list li.media {
	/*float: left;*/
	margin: 0;
	padding: 15px 30px 15px 0px;
	/*width: 50%;*/
}


body.page-node-edit .node-thumbnail-text div.row.margin-bottom15 {
	margin-left: 0;
}

.node-thumbnail-text img.col-xs-3 {
	min-width:87px;
	max-width:100px; 
	max-height:100px;
	padding-left: 0px !important;
}

/*div.builder-column.col-sm-12.col-md-12.col-lg-12 .node-thumbnail-text .col-sm-12{
 width: 50%;
} 
div.builder-column-item-2.col-sm-8.col-md-8.col-lg-8 .node-thumbnail-text .col-sm-12{
	width:50%;
}

div.builder-column.builder-column-item-1.col-sm-8.col-md-8.col-lg-8 .node-thumbnail-text .col-sm-12{
	width:50%;
} */ 

.microsite h1, .microsite h2, .microsite h3, .microsite h4, .microsite h5, .microsite .h1, .microsite .h2, .microsite .h3, .microsite .h4, .microsite .h5 {
	border-color: #696969;
	color: #696969;
}
.bg-secure a {
	font-size: 14px;
}
.bg-secure li {
	margin-top: 8px !important;
}
.secured_ags .hd-title, 
.secured_data_publication .hd-title {
	border-bottom: 1px solid #c1c1c1;
	border-top: 0 none;
}
.secured_ags, .secured_data_publication {
	background-color: #fff;
	border: 1px solid #c1c1c1;
	padding: 0 10px;
}
#alpha_tools a.active {
	border-left: 2px solid #195695;
	color: #195695;
}
#alpha_tools a {
	font-size: 14px;
}
.feed__date {
	display: block;
}
/*
.sitemap-row {
	border: 0px;
	padding: 0px;
}
.sitemap-row > ol {
	float: left;
}
.sitemap-row > ol > li {
	padding: 10px;
}
.sitemap-row .h5 {
	border-top: 1px solid #c1c1c1;
}
.sitemap-row ul li, .sitemap-row ol li {
	list-style-type: none;
	margin: 0;
}*/
/* Article comments */
.comment-form div[id^="edit-author"] {
	display: none;
}
#comments .comment .author {
	color: #195695;
	display: inline-block;
	font-size: 100%;
	font-weight: bold;
	line-height: 1;
}
#comments .date-time {
	border-left: 1px solid #d3d3d3;
	color: #868686;
	display: inline-block;
	font-size: 85%;
	line-height: 1;
	margin: 0 0 0 .6em;
	padding-left: 1.4em;
}
a.remove_mytopics {
	text-decoration: none;
}
#comments .comment {
	border-top: 1px solid #d9dbde;
	display: inline-block;
	width: 100%;
}
.pulse {
	background-image: url("../images/pulse_logo.png");
	display: inline-block !important;
	height: 16px;
	margin-left: 5px;
	width: 10px;
}
/* Mark as Read */
#mark-as-read-div {display:inline-block;float:left;}
/*
#submit-as-read {
	background: #1b9ec6 none repeat scroll 0 0;
	background: rgba(0, 0, 0, 0.51) none repeat scroll 0 0;
	border: medium none;
	color: #fff;
	font-weight: bold;
	margin-top:1%;
}
*/
.marked-success{color:green;font-weight:bold;}
.view-similar-articles-section .view-content > div:nth-child(2),
.view-similar-announcements-section .view-content > div:nth-child(2) {
	display: none;
}
/*
.microsite .secondary-nav .sm-clean > li > a {
  color: #006993;
  width: auto;
  max-width: 140px;
  white-space: pre-line;
}*/
/* Responsive Preview */
ul#responsive-preview-navbar-tab .responsive-preview-device {
	background: none;
	border: none;
	color: #EEE;
	cursor: pointer;
	font: inherit;
	line-height: 1;
	margin: 0;
	padding: 0 0;
}
ul#responsive-preview-navbar-tab{
	margin-bottom : 0;
}
ul#responsive-preview-navbar-tab li {
	display: inline-block;
	border-right: 1px solid #323232;
	padding:4px 8px;
}
ul#responsive-preview-navbar-tab li.last {
	display:none;
}
.container.main {
	margin-top: 10px;
}
.responsive-preview-frame #admin-menu{
	display:none;
}
body.responsive-preview-frame{
	margin-top: 0 !important;
}
.off-canvas__content {
	color: #FFFFFF;
}
/*
body li a.active {
	color: #406473;
}
.navigation li a.active {
	color: #FFFFFF;
}
*/
.page-media-archive h1#page-title {
	display: none;
}
.comment-body ul.links li a {
	text-transform: capitalize;
}
#search-tags-form input[type="submit"] {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	width: 100%;
	background: #123d69;
	color: #FFF;
	border-radius: 0;
	border-color: #0d2b4b;
	margin: 0px;
}
#search-tags-form #autocomplete {
	font-size: 14px;
	border-top: 1px dotted #ccc;
}
#search-tags-form #autocomplete div:hover {
	color: #333;
	cursor: pointer;
}
#search-tags-form #autocomplete div {
	background: none repeat scroll 0 0 #ebebeb;
	padding: 4px 12px;
}
#search-tags-form .form-autocomplete {
	font-size: 14px;
}
#search-tags-form .form-autocomplete {
	border: 1px solid #7eb0cb;
	padding: 4px 12px;
	width: 100%;
}
.view-mediaarchive ul.pager-load-more a {
	float: right;
}
.view-mediaarchive ul.pager-load-more a:hover {
	color: #fff;
	background-color: #899019;
	border-color: #6c7114;
}
.view-mediaarchive .ajax-progress {
	display: none;
}
.view-mediaarchive .item-list .pager {
	border: 0px;
	margin: 0px;
	padding: 0px;
}
.link-field-column .form-text {
	width: auto;
}
.builder-content video,
.page-media-archive video,
.node-type-video video {
  width: 100% !important;
  height: auto !important;
}
.builder-content audio {
	width: 100% !important;
}
@media (min-width: 992px) {
	/*.secondary-nav {
		float: left;
	}
	.microsite.page .secondary-nav {
		float: right;
		margin-top: 20px;
	}
	.microsite.page #page-title, .microsite.page .header__logo {
		float: left;
	}*/
}
@media (max-width: 991px) {
	.secondary-nav {
		float: none;
	}
}
ul.staff__subgroup {
	margin: 0px;
}
.builder-content div,  .builder-content p, .builder-content span {
	font-family: 'Trade Gothic', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}	
.microsite .header__logo img {
	max-width: 50%;
}
.microsite.page .header__logo img {
	max-width: 100%;
}
@media (min-width: 1250px) {
	.microsite .header__logo img {
		max-width: 100%;
	}
	.secondary-nav > .sm-clean > li > a {
		padding: 12px 14px;
		max-width: 200px;
		white-space: normal;
		text-align: center;
	}
        /*ul.staff__subgroup {
		margin: 0 0 0 6%;
	}*/
}
/* Word break for lengthy email ids in search results. */
.people-list__details-primary a, .people_results__info a	{
	word-wrap:break-word;
}
.node-preview-blurb ul {
	padding: 0px;
}
.node-preview-blurb  div.text-right a {
	text-decoration: none;
}
.builder-ui-column-no-title {
	clear: both;
}
div#skip-link,
.field-name-field-microsite-header h1,
.field-name-field-microsite-header h2, 
.field-name-field-microsite-header h3, 
.field-name-field-microsite-header h4,
.field-name-field-microsite-header h5,
.field-name-field-microsite-header h6 {
	display: none;
}
.builder-column-title h3 {
	font-size: 18px;
}
.faqfield-answer.ui-accordion-content {
	height: auto !important;
}
.node-article .sp-category-people-culture {
	background:#1b9ec6;
}
.node-article .sp-category-business-leadership {
	background:#4f6f1c;
}
.node-article .sp-category-best-practices {
	background:#f49413;
}
.node-article .sp-category-patients {
	background:#711471;
}
.node-article .sp-category-products-pipeline {
	background:#b2bb21;
}
.node-article .sp-category-business-leadership {
	background:#4f6f1c;
}
.node-announcements .sp-category-people-culture {
	background:#1b9ec6;
}
 .feedback_clear {
	color: #195695 !important;
	background-color: #fff !important;
}
.feedback_submit {
	background-color: #195695 !important;
} 
#commportal-custom-feedback-form .feedback_clear {
	border: 0!important;
	font-size: 16px;
  font-weight: bold;
}
#commportal-custom-feedback-form .btn.pull-right.btn-success.form-submit:hover, #commportal-custom-feedback-form .btn.pull-right.btn-success.form-submit:focus,
#commportal-custom-feedback-form .btn.pull-right.btn-success.form-submit:active{
	border-color:#195695 !important;
} 
.cal-widget ul.list-clean.panel-list.panel-list-small {
	padding: 0px;
}
.list-view > .text-left {
	float: left;
}
.list-view > .text-right {
	float: right;
}
.tooltip-content hr {
	margin: 0px;
}
.advpoll_custom .ajax-progress.ajax-progress-throbber > .message {
	display: none;
}
#commportal-custom-feedback-form .btn:active {
	box-shadow:none!important;
}
#block-commportal-custom-months-block-cl { padding-top:10px; }
.microsite.page .cal-widget h6 {
	background: rgb(25, 86, 149) none repeat scroll 0 0;
}
.microsite.page .cal-widget table.calendar th {
	border-color: #195695;
	color: #195695;
}
/*
@media (min-width: 992px) {
	.col-md-12.header {
		border-bottom: 1px solid #195695;
	}
}
.header.page {
	padding: 0px;
}
.col-md-12.header {
	padding: 0;
	margin-bottom: 40px;
}
*/
.header.page {
	padding: 0px;
}
.col-md-12.header.page .secondary-nav {
  border-bottom: 1px solid #195695;
  margin-bottom: 40px;
}
.comment .rate-widget {
	float: left;
	padding-right: 15px;
	width: auto;
}
.comment ul.links {
	border-left: 1px solid #d3d3d3;
	padding-left: 15px;
}
.pre-footer {
	background: #195695 url(../assets/images/subfooterbg.jpg) 0 -20px repeat;
}
.instagram-single__functions {
	position: absolute;
	bottom: 20px;
	right: 5px;
}
.instagram-single .caption {
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;Initiatives
	margin-top: 5px;
}
.photo-grid-24 > div {
	width: 8.33%;
}
.col-lg-1:nth-child(12n+1), 
.col-lg-2:nth-child(6n+1), 
.col-lg-3:nth-child(4n+1), 
.col-lg-4:nth-child(3n+1), 
.col-lg-6:nth-child(2n+1) {
	clear: none;
}
.people_results__block.col-lg-1:nth-child(12n+1), 
.people_results__block.col-lg-2:nth-child(6n+1), 
.people_results__block.col-lg-3:nth-child(4n+1), 
.people_results__block.col-lg-4:nth-child(3n+1), 
.people_results__block.col-lg-6:nth-child(2n+1) {
	clear: left;
}
.page-tools li:hover > a.icon-builder-edit {
	display: inline-block;
}
.page-tools li a.icon-builder-edit {
	display: none;
}
.input-group .form-control.input-btn-right {
  border-right-color: #7eb0cb;
}
a.disable {
	color: #CCC3C3;
}
.page-media-archive #sidebar-first .input-group .form-control.input-btn-right,
.page-career-and-learning #sidebar-first .input-group .form-control.input-btn-right,
#search-training .input-group .form-control.input-btn-right,
#block-commportal-custom-quick-search .input-group .form-control.input-btn-right,
#search-tools .input-group .form-control.input-btn-right {
	border-right: 0px;
	box-shadow: none;
}
.off-canvas__title > a {
	color: #fff;
}
.settings__user {
	border: 0px;
	margin: 0px;
}
.settings__user-details,
#search-tags-form .form-item {
	margin-top: 0px;
}
.node-type-microsite .primary-nav .sm-clean>li>a span.sub-arrow,
.node-type-page .primary-nav .sm-clean>li>a span.sub-arrow,
.page-leadership .primary-nav .sm-clean>li>a span.sub-arrow {
	border-color: #FFF transparent transparent;
}
.builder-content h1, 
.builder-content h2, 
.builder-content h3, 
.builder-content h4,
.builder-content h5,
.builder-content h6 {
	margin-top: 0px;
}
.page-media-archive #sidebar-first .input-group-btn:last-child>.btn,
.page-career-and-learning #sidebar-first .input-group-btn:last-child>.btn, 
#search-training .input-group-btn:last-child>.btn,
#search-tools .input-group-btn:last-child>.btn {
	border-left: 0px;
	background: none;
	box-shadow: none;	
}
.gwiz_text{font-size: 14px; padding-bottom: 25px; margin-top: -45px; font-style: italic;}
.node-type-video #page-title{display:none;}

/* Wysiwyg table border color changed to blue from white */
table.border_blue,
table.border_blue thead,
table.border_blue thead tr th,
table.border_blue thead tr td,
table.border_blue tbody,
table.border_blue tbody tr td,table.border_blue tbody tr th,
table.border_blue tr th,
table.border_blue tr td {
	border-color: #195695;
}
table.no_border,
table.no_border thead,
table.no_border thead tr th,
table.no_border thead tr td,
table.no_border tbody,
table.no_border tbody tr td,table.no_border tbody tr th,
table.no_border tr th,
table.no_border tr td {
	border: 0;
}  
table caption {
	color: #195695;
	font-weight: bold;
}
table.border_blue thead, table.border_blue tr th{
	background-color: #195695;
}
@media all and (min-width: 991px) and (max-width: 1024px) {
	.primary-nav .sm-clean a{padding:18px 14px;}
}
.gwiz span.icon-chevron-left:before {
  content: "\41";
}
.gwiz span.icon-chevron-left{
	font-size: 14px;
}
.popup_menu {
	z-index: 9999 !important;
}
.builder-content table {
	font-size: 16px;
}
.page-search-gwiz h1.hd-title {
	display: none;
}
.page-search-gwiz .gwiz_text {
	margin: 0px;
}
.builder-content b, .builder-content strong {
	font-weight: 700;
}
.list__accordion ol li a {
	text-indent: 0px;
	padding-left: 5px;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.node-products .media__links a:first-child {
  border-right: none !important;
}
.popover-navigation .btn {
    color: #fff;
}
.front .node-event-calendar .contextual-links-wrapper {
	display: none !important;
}
article.node-microsite .field-type-builder table {
	margin: 0px;
}
.node-career-learning .field-name-field-course-date div.field-label {
	color: #696969;
	font-size: 16px;
	padding: 5px 0 10px;
	border-top: 2px solid #696969;
}
.node-career-learning .field-name-field-course-date div.field-items  span.date-display-single {
	line-height: 1.5;
}
.node-article.entry .alignleft {
	margin: 0 20px 0px 0;
	max-width:100%;
}
.sidebar p.results-list__desc, .sidebar span.download-author {
    display: inline;
}
.top_border{
	border-top: 1px solid #cecece; margin:0;
}
h5.views-label-field-course-date, h5.views-label-field-course-date + div {
	text-indent: 15px;
}
#block-views-related-links-block .sidebar_title{
	padding: 6px 10px;
}
#block-views-related-links-block .sidebar_title a{
	font-size: 14px;
}
.read-story {
	background-color: #01284e;
	text-transform: none !important;
}
.read-story a {
	color: #FFF;
	font-weight: normal;
}
.drop-panel .drop-inner ul li a h5 {
	color: #195695 !important;	
}
#block-views-career-category-view-block ul.list__accordion li a:hover,
#block-views-career-category-view-block ol.media-archive-year li a:hover,
#block-commportal-custom-months-block-cl ul.list__accordion li a:hover {
	color: #121c21 !important;
}


/* Styles for Popup Announcement Form*/

#popup_announcement_form	label, #popup_article_form	label{
	width: 20%;
	vertical-align:top;
}
.submit-announcement-kudos a, .announcement-dept  a{
	color:#b2bb21;
}

.announcement-dept	{
	margin-bottom:-27px;
	margin-top:10px;
}
.view-display-id-block_home .view-footer .announcement-dept{
	margin-top: -28px;
}

#popup_announcement_form .form-textarea-wrapper, #popup_article_form .form-textarea-wrapper 	{
	display:inline-block !important;
}
#popup_announcement_form span.cancel, #popup_article_form span.cancel, #add-photo-story-form span.cancel ,#popup_add_photo_story_form   span.cancel, #popup_add_story_form span.cancel{
	color: #195695;
	cursor: pointer;
	font-weight: bold;
}
#announcement_popup .form-submit, #popup_article_form  .form-submit, #add-photo-story-form #edit-submit-form, #popup_add_photo_story_form .form-submit, #popup_add_story_form #edit-submit-form, #popup_add_photo_story_form  #preview-modal-popup-story{
	background-color: #195695 !important;
	background-image: none;
	border: 1px solid transparent;
	color: #fff;
	border-radius:0;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 0;
	margin-right: 0;
	padding: 6px 12px;
	text-align: center;
}
/* End of Styles for popup announcement form*/
.node-unpublished {
  background-color: #fff4f4 !important;
}
/**Google Analytics Reports Page **/
.views-field-uniquePageviews .number-of-visits {
background-image: url("/sites/default/files/assets/Circle-Info.png");
background-repeat: no-repeat;
background-position: 93% center;
width: 13%;
}


/** MCCO Stories CSS **/
.mcco_image {
width: 50%;
}
.mcco_embedded_img {
	/*width: 610px !important; 
  height: 300px !important;
	display: block !important;
	margin: 0 auto;
	padding-top: 20px;*/
	display: block !important;
	padding-top: 20px;
	padding-left: 30px;
}
.mcco_story_page {
padding: 43px 0px 20px 41px;
}
.mcco_story {
	display:inline-block;
	height:auto;
	vertical-align:top;
	position:relative;
}
.page-mcco-stories .mcco_story.col-sm-6 {
	float :none !important;
	padding: 0px 44px 20px 0px!important;
}
.mcco_story strong{
	font-weight: bold;
}
.story_link {
	text-decoration: none !important;
	color: #333 !important;
	font-weight: normal;
	position: relative;
	z-index: 2;
}
#popup_add_story_form .form-textarea-wrapper{
	display:inline-block !important;
	width:527px;
}
#popup_add_story_form .form-item-story-text label{
	font-size: 15px;
	font-weight: bold;
	width: 150px;
	vertical-align:top;
}
#popup_add_story_form .form-item-files-file label, #popup_add_story_form .form-item-story-collection label{
	font-size: 15px !important;
	font-weight: bold !important;
	width: 150px !important;
	vertical-align:middle !important;	
}
#popup_add_story_form .form-item-story-collection	{
	float:left;	
}
#popup_add_story_form .form-item-story-type{
	display:inline-block !important;
	padding-left:124px !important;
}
#popup_add_story_form .form-item-story-type label{
	width:102px !important;
	vertical-align:middle !important;
}
.node-type-mcco-stories .action-rating.rate_like a {
	position: inherit;
	text-indent: 999999px;
}
.node-type-mcco-stories .field-name-field-mcco-story-image  img{
	width : 450px;
}
.node-type-mcco-stories span.mcco-prev,.node-type-mcco-stories span.mcco-next,.node-type-mcco-stories span.mcco-back-landing{
	font-size: 17px;
	text-decoration:none;
}
.node-type-mcco-stories a:hover,.node-type-mcco-stories a:hover,.node-type-mcco-stories a:hover{
	text-decoration:none;
}
.image_wrapper div.tile__social {
	vertical-align: bottom;
}
.mcco_story .tile__social {
	width: 100%;
	opacity: 0.8;
	position: absolute;
	bottom: 100%;
	left: 0;
	z-index: 2;
	background: rgba(0, 0, 0, 0.5);
	display: block;
}
#popup_add_story_form #edit-help-text{
	display: block;
	float: right;
	width: 50%;
	text-align: right;
	margin-top: -5px;
	line-height: 0px;
	padding-right: 48px;
}
.page-mcco-stories span.icon-plus {
	vertical-align: middle;
}
.page-mcco-stories .add-story-form {
	text-align: right;
	right: 26%;
	bottom: 60px;
}
.page-mcco-stories .add-story-form  a.open-modal-link {
	color: #fff;
	background-color: #ab09c3;
	border-color: #ab09c3;
	padding: 5px 15px;
	text-decoration: none;
}
.page-mcco-stories h1#page-title {
	display: none;
}
.story_image {
	width:100%;
	height:auto;
}
#textarea_helptext{
	float: right;
	font-size: 14px;
	margin-top: -5px;
	line-height: 0px;
	padding-right: 48px;
}
.story_link p{
	padding-top: 5px;
}
.mcco_story .mail_icon {
	float: right;
	padding: 5px 10px 5px 5px;
	color: #fff;
	text-decoration: none !important;
	margin-top: 1px;
}
.mcco_story .mail_icon:hover {
	color:#fff;
}
.mcco_story .icon-chat,.mcco_story  .icon-like {
	color: white;
	float: right;
	margin-top: 4px;
	padding: 2px;
}
.icon-like {
	margin-top: 4px !important;
}
.mcco_story .comment_count, .mcco_story .like_count {
	float: right;
	font-size: 11px;
	margin-top: 7px;
	color: white;
	padding-right: 10px;
}
.icon-like::before {
	content: "o";
}
.icon-chat::before {
  content: "i";
}
.col-md-9 .node-image h3.no-title{
 margin-top: 35px !important;
}
.field-name-field-microsite-rightside.col-md-3 .node-image h3.no-title {
  margin-top: -10px !important;
}
.off-canvas__myPortal.has-padding.clearfix.margin-xx .hd-reversed a {
	color:#fff;
}
.webform-confirmation {
  display: none;
}
.node h3.no-title	{
	margin-top:35px !important;
}
/*.col-md-8 .node.node-thumbnail-text .col-sm-12{
	width:50%;
}*/
.field-name-field-microsite-builder .col-md-12 .node-thumbnail-text .auto-align{
	width:33.3%;
	float:left;
	margin-right:3px;
}
.col-md-8 .node-thumbnail-text .auto-align{
	width:50%;
	float:left;
	margin-right:3px;
}
.col-md-12 .node-thumbnail-text .col-sm-12 div:nth-child(3n-2) {
    clear: both;
}
.col-md-8 .node-thumbnail-text .col-sm-12 div:nth-child(2n-1) {
    clear: both;
}
.node-thumbnail-text .col-sm-12 .row.margin-bottom15.auto-align p	, .node-thumbnail-text .col-sm-12 .row.margin-bottom15 p{
	float: left;
	width: 60%;
}

/* KM Search Fixes Start */ 
.page-gsearch .search-form {
	margin-top: 20px;
}
.page-gsearch  .results-row .result-list__icon {
	display: inline-block !important;
	height: 58px;
	margin-left: 5px;
	width: 51px;
	float:left;
	background-repeat:no-repeat;
	margin-right: 6px;
}
.page-gsearch .gsearch-icon-gdoc{
	background-image: url("/sites/all/modules/custom/misc/Images/gsearch_gdoc.png");
}
.page-gsearch .gsearch-icon-gsheet{
	background-image: url("/sites/all/modules/custom/misc/Images/gsearch_gsheet.png");
}
.page-gsearch .gsearch-icon-gslide{
	background-image: url("/sites/all/modules/custom/misc/Images/gsearch_gslide.png");
}
.page-gsearch .gsearch-icon-smartsheet{
	background-image: url("/sites/all/modules/custom/misc/Images/gsearch_smartsheet.png");
}
.page-gsearch .gsearch-icon-gsite{
	background-image: url("/sites/all/modules/custom/misc/Images/gsearch_gsite.png");
}
.page-gsearch .gsearch-icon-zip{
	background-image: url("/sites/all/modules/custom/misc/Images/gsearch_zip.png");
}
.page-gsearch .icon-png{
	background-image: url("/sites/all/modules/custom/misc/Images/result_png.png");
	background-size: contain;
}
.page-gsearch .icon-jpg{
	background-image: url("/sites/all/modules/custom/misc/Images/result_jpg.png");
	background-size: contain;
} 
.page-gsearch .icon-audio{
	background-image: url("/sites/all/modules/custom/misc/Images/result_video.png");
	background-size: contain;
} 
.page-gsearch .icon-video{
	background-image: url("/sites/all/modules/custom/misc/Images/result_video.png");
	background-size: contain;
} 
.page-gsearch .icon-x-photoshop{
	background-image: url("/sites/all/modules/custom/misc/Images/result_x-photoshop.png");
	background-size: contain;
}  
.sidebar-first.page-gsearch .search-check-box label.checkbox-inline{
	width: 49%;
	margin-left: 0px !important;
}
.page-gsearch .search-check-box .select-all{
	width:100% !important;
}
.page-gsearch #page-title, .page-gsearch .breadcrumb__right, .page-access-denied .breadcrumb__right{
	display:none;
}
.page-gsearch .sidebar .search-check-box .checkbox-inline.select-all{
	padding-bottom:15px;
}
/* Pilot users in microsite settings */
.group-microsite-settings .field-name-field-pilot-users .form-item-field-pilot-users-und ul.chosen-choices{
	width: 190%;
}
/* KM Search Fixes End */


.off-canvas__myPortal #draft-announcements{
	margin-top:-13px;
	margin-bottom:35px;
}
.node-photo-stories .icon-triangle-right, .node-preview-blurb .icon-triangle-right {
	display: inline !important;
}	
.page-leadership li.member-half.unit-staff .margin-left{
	margin-left:120px;
}
.page-leadership li.member-half.unit-staff:nth-child(2n+1) {
  clear: both;
}
.page-leadership .node-containers .text-right .view-more	{
	margin: 29px 0px 8px 0px;
}
.page-leadership .node-containers .announcement-dept .open-modal-link{
	display: none;
}
#sidebar-second .node-video{
	padding-bottom:15px;
}
.col-wrapper {
	width:50%;
	float: left;
}
/* .page-leadership .hide-title-block{
	margin-top: 35px;
}
.page-leadership .hide-title-block .hd-title {
 display: none;
} */
.hide-title-block{
	margin-top: 35px;
}
.hide-title-block .hd-title {
 display: none;
}
#popup_announcement_form #edit-announcement-headshot{
	margin: -20px 0 0 146px;
}
.node-type-mcco-stories h1#page-title {
	display: none;
}
.node-announcements .alignleft .field-name-field-headshot.field-type-image {
    width: 250px;
}
#popup_announcement_form #edit-button, #popup_add_photo_story_form #edit-button-story{
	padding-right: 10px;
}
#popup_announcement_form #ann_image, #popup_add_photo_story_form #photo_story_image{
	float:left;
	width:250px;
	height: 250px;
	padding: 0 15px 5px 0;
}
#popup_announcement_form a#preview-modal-popup, #popup_announcement_form a#edit-button ,#popup_add_photo_story_form a#edit-button-story,#popup_add_photo_story_form a#preview-modal-popup-story{
	color: #195695;
}
#popup_announcement_form a#preview-modal-popup, #popup_add_photo_story_form a#preview-modal-popup-story {
	background-color: #195695 !important;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 0;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 0;
	margin-right: 0;
	padding: 6px 12px;
	text-align: center; 
 }
#popup_announcement_form  #ann_body, #popup_add_photo_story_form #photo_story_body{
	min-height:255px;
}
#popup_announcement_form .headshot-required {
	color:red !important;
}
#popup_announcement_form .description {
	font-size: 11px !important;
	margin-top: -5px;
}
.mcco_story_page #masonry-container li {
	text-align: left;
	border: none !important;
}

.mcco_story_page .tiles-wrap a{
	color:#b2bb21;
	font-size: 16px;
}
.mcco_story_page #masonry-container li span {
  cursor: default;
}
@media (min-width : 320px) and (max-width : 770px){
	.mcco_story_page #masonry-container li img.story_image{
		width:86%!important;
	}
	.node-type-photo-stories .photo-stories_resize_image img{
		width:76%!important;
	}
	.mcco_story_page #masonry-container li span {
		padding-right:30px;
	}
}
.page-mcco-stories .mfp-figure img.mfp-img{
	min-width:400px;
}
.node-faq ul {
	font-family: "Trade Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-size: 16px !important;
}
.node-type-microsite .kmsearch-bar{
	max-width:50%;
	float:right;
	margin-top:-70px;
}
/* Photo Stories Landing Page CSS*/
.page-photo-stories .add-story-form  a.open-modal-link {
	color: #fff;
	background-color: #b2bb21;
	border-color: #ab09c3;
	padding: 5px 15px;
	text-decoration: none;
}
.page-photo-stories .add-story-form {	
	padding-left: 40px;
	top: 30px;
}
.page-photo-stories h1#page-title {
  display: none;
} 
.node-announcements .alignleft {
	margin: 0 40px 5px 0 !important;
}
.node-announcements .field-name-field-headshot {
	width: 150px !important;
}
.photo_story_image{
	/*width: 300px !important;*/
  height: 300px !important;
}
.feedback_block .more-story ,.more-story.photo_stories_teaser_more {
	color: #006993;
	font-weight: 100;
}
.node-photo-stories .link-wrapper {
	display:none;
}
.node-photo-stories  .module{
	margin-bottom:0px !important;
}
.node-type-photo-stories .photo-stories_resize_image {
width:450px;
height:300px;
text-align:left;
float:left;
clear:left;
margin:0 40px 40px 0;
}
.photo-story-image{
width:450px;
height:300px;
}
.node-type-microsite .field-name-field-microsite-rightside .node-photo-stories .photo-stories_resize_image .media-object.photo-story-image{
 height: 203px;
}
/* Career and Learning */
.page-find-class .input-group-btn .btn.btn-clean {
	border-left: none;
}
#findclassform .btn.btn-block.btn-primary.margin-lx.form-submit{
	margin-left:0px !important;
}
/*------------------------------------*\
    #Find a Class List
\*------------------------------------*/
.find-class-list {
  padding: 0;
	margin-top:30px; /* Added by Swathi */
  position: relative; }
  .find-class-list li:first-child{
  padding: 0;}
  .find-class-list li {
    list-style-type: none;
    border-bottom: 1px solid #c1c1c1;
    padding: 40px 0 0; }
    .find-class-list li:last-child {
    border-bottom: 0;
    padding: 20px 0 10px; }
  .find-class-list:last-of-type {
    margin-bottom: 0; }
  .find-class-list .class-categories-container {
  margin-top: 25px;}
  .find-class-list .class-categories-container span {
  font-size: 13px;
  color: #a5a5a5;
  margin-left: 10px;
  font-weight: bold;} 
	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 700;
    line-height: 1.1;
    color: #195695;
}
/*------------------------------------*\
    #Find a Class Null
\*------------------------------------*/
.find-class-null {
  background: url("/sites/all/themes/cmgportal/assets/images/wordcloud.jpg") no-repeat right top;
  background-size: 100%;
  min-height: 600px;
  }
  .find-class-null hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: solid 2px #195695;
  }
  .find-class-instructions-container {
    margin-top: 20px;
  }
  .find-class-left-arrow {
    max-width: 44px;
    margin-top: 10px;
    margin-right: 20px;
  }
  .find-class-instruction {
    margin-top: 8px;
  }
  p.find-class-instructions {
    color: #A0A0A0;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5em;
    margin-top: 8px;
    margin-bottom: 20px;
}
.find-class-null .featured-classes-title {
  color: #b2bb21;
  font-size: 32px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
}
.find-class-null .find-class-featured-classes-container .find-class-featured-class p {
  color: #696969;
  line-height: 1.6em;
}
#findclassform .form-item-date>label{
	display:block;
}
#findclassform .chosen-container.chosen-container-multi.form-select.chosen-processed  .default{
color: #7eb0cb;
font-style: italic;
}
#findclassform  .chosen-container.chosen-container-multi.form-select.chosen-processed{
width: 100% !important;
line-height: 2.46;
border: 1px solid #7eb0cb !important;
}
#findclassform  .chosen-container.chosen-container-multi.form-select.chosen-processed .chosen-choices{
border:none;
}

.find-a-class-image{
	background-image: url("/sites/default/files/assets/Find%20A%20Class_0.png");
}
.find-a-class-image:hover{
	background-image: url("/sites/default/files/assets/Find%20A%20Class%20Hover.png");
}
.explore-career-choices{
	background-image: url("/sites/default/files/assets/Explore%20Career%20Resources_0.png");
}
.explore-career-choices:hover{
	background-image: url("/sites/default/files/assets/Explore%20Career%20Resources%20Hover.png");
}
.work-on-my-development{
	background-image: url("/sites/default/files/assets/Work%20On%20My%20Development.png");
}
.work-on-my-development:hover{
	background-image: url("/sites/default/files/assets/Work%20On%20My%20Development%20Hover.png");
}
.development-role-based-program{
	background-image: url("/sites/default/files/assets/Department%20%26%20Role-Based%20Role-Based%20Programs_0.png");
}
.development-role-based-program:hover{
	background-image: url("/sites/default/files/assets/Department%20%26%20Role-Based%20Role-Based%20Programs%20Hover.png");
}
.find-a-class-image, .find-a-class-image:hover,.explore-career-choices,.explore-career-choices:hover,.work-on-my-development,.work-on-my-development:hover,.development-role-based-program,.development-role-based-program:hover {
	background-repeat: no-repeat;
	height : 100px;
	text-decoration: none;
	display: inline-block;
	float:left;
	width: 14em;
	background-size: 100% 100%;
}
.findaclass,a.findaclass:hover{
		color: #6FA140;
}
.workmydev, a.workmydev:hover{
		color: #F2921A;
}
.explorecareer,a.explorecareer:hover {
	 color: #1391B9;
}
.deptrolebased,a.deptrolebased:hover {
		 color: #962A91;
}
.career-learning-home,a.career-learning-home:hover {
		 color: #195695;
}
.explorecareer,.deptrolebased,.workmydev,.findaclass ,.career-learning-home{
	display: block;
	font-weight: 700;
	font-size: 18px;
	outline: 0;
}
a.explorecareer:hover,a.deptrolebased:hover,a.workmydev:hover,a.findaclass:hover,a.career-learning-home:hover{
	text-decoration:none;
}
#edit-intact-teams label{
	font-size: 18px;
}
#findclassform .form-item-competency label h5, #findclassform .form-item-date label h5 {
	color:#6FA140;
	font-size:18px;
}
#findclassform .btn.btn-block.btn-primary.margin-lx.form-submit {
	background-color:#6FA140;
}
#findclassform .btn.btn-block.btn-primary.margin-lx.form-submit:hover {
	border-color: #6FA140;
}
#business_units,#managers,#rolebased {
	display: block;
	border: 2px solid #962A91;
	height: 70px;
	float:left;
	margin: 10px;
	padding: 10px;
	background-color: #962A91;
	font-weight:700;
	font-size: 20px;
	color: #fff;
	width:240px;
	text-align: center;
}
 .page-find-class h2.hd-title {
	border-top: 0 none;
}
#final_results {
	clear: both;
	padding-top: 20px;
}
#final_results a{
	outline: 0px;
	text-decoration: none;
}
.page-dept-rolebasedprograms #block-system-main .content{
  padding: 0 0 0 35px;
}
.page-dept-rolebasedprograms .header {
	 padding: 0 0 0 50px;
}
#final_results li:not(:last-child) {
    margin-bottom: 10px;
}
.page-dept-rolebasedprograms .input-group-btn .btn.btn-clean {
	border-left: medium none;
}
.find-class-list .col-sm-12  li {
    list-style-type: initial;
    border-bottom: 0;
    padding: 0px 0 0;
}
.find-class-list .col-sm-12  li:last-child {
    border-bottom: 0;
    padding: 0;
}
#findclassform #edit_date_chosen .chosen-drop .chosen-results .group-result{
	display:none;
}
/* Career and Learning */

#findclassform #edit-submit{
	display:inline;
}
@media (min-device-width : 768px) and (max-device-width : 1024px){ 
 .find-a-class-image, .find-a-class-image:hover, .explore-career-choices, .explore-career-choices:hover, .work-on-my-development, .work-on-my-development:hover, .development-role-based-program, .development-role-based-program:hover{
		width: 21em;
	}
	.node-career-learning .builder-content p.career_home_bottomimages strong a img {
    width: 110px !important;
	}
}
#findclassform #edit-reset {
	background-color: #8f8f8f !important;
}
#findclassform #edit-reset:hover {
	border-color: #8f8f8f;
}
#findclassform #edit-submit.margin-lx{
	margin-bottom: 5px !important;
}
/* Removing Image border as per Kat's request */
.entry img {
  border: none;
}
/* Find a class Null page Ipad landscape responsive changes */
@media all and (min-width: 768px) and (max-width: 1024px) {
  .find-class-null .find-class-featured-classes-container .find-class-featured-class .col-sm-4{
    width: 66.66%;
  }
  .find-class-null .find-class-featured-classes-container .find-class-featured-class .col-sm-8{
    width: 100%;
  }
}
.find-class-instruction.pull-left h2.no-margin-top {
  font-size: 30px;
}
.page-view-all-featured-class #page-title{
	display: none;
}
.page-find-class #replace-find-results .view-more{
	font-size: 20px;
}
@media (min-width: 768px) {
  .page-find-class .col-sm-8 {
    padding-right: 0;
  }
}
/* If the title is too long next block is floating to other column in leadership page */
.full .member-half:nth-child(2n+1) {
  clear: both;
}
/* Search help text for gwiz search */
.search-suggestions-gwiz{
	background: white;
	position: absolute;
	top: 100%;
	right: 0;
	z-index: 3;
	width: 100%;
	text-align: left;
	border-top : 1px solid #195695;
}
.search-suggestions-gwiz .search-suggestions__header{
	background: white;
	color:#888;
	overflow: hidden;
}
.search-suggestions-gwiz .search-suggestions__header h3{
	color: #696969;
}
body.page-node-443 #counter, body.page-photo-stories-73 #counter, body.page-node-17841 #counter {
  display: none;
}

/****************** Start - Views exposed filters styles *************/
.views-exposed-form #edit-field-category-wrapper label, .page-solr-search-results  .views-exposed-form label{
  font-weight:normal !important;  
}

#views-exposed-form-commercial-news-page label , #views-exposed-form-commercial-news-page-1 label , #views-exposed-form-kudos-page label, #views-exposed-form-kudos-page-1 label {
  display: inline;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: normal; 
  width: 100%;
}
 .views-exposed-form .views-exposed-widget { 
 float:none;
}
 .left_sidebar {
	 margin: 0 0 0 -10%; 
 }
 #edit-field-category-wrapper, #edit-field-announcement-type-tid-wrapper {
	 margin-top:10px;
	 
 }
 .form-type-bef-checkbox {
	 line-height:30px;
	 height:30px;
 }
 
 #views-exposed-form-commercial-news-page .col-md-3 , #views-exposed-form-kudos-page .col-md-3{
	 width:auto;
 }
.no_results {
	font-size:20px;
	font-weight:bold;
	color:red;
	text-align:left;	
}
#block-views-commercial-news-block-2 , #block-views-kudos-block-1{
	float:left;
}
.view-commercial-news .block ol, .view-commercial-news  ul, #block-views-kudos-block-1  ul {
	padding:0px;
}
#block-views-kudos-block-1 .list__accordion , #block-views-commercial-news-block-2 .list__accordion {
	border-top: none;
}
/****************** End - Views exposed filters styles *************/
/****************** Start of CMG Portal CSS changes ***************/
body {
	padding-right: 0 !important;
}
/****************** End of CMG Portal CSS changes ******************/

/* temporary css*/
.page-is-this-a-usma fieldset legend{
	background : none;
	border : none;
	position : relative;
	margin-bottom: 0px;
	font-family: Trade Gothic,Helvetica Neue,Helvetica,Arial,sans-serif !important;
	height: auto;
}
/* end temporary css*/