
/* ---------- General Layout ---------- */

body,
input,
textarea,
select {
  color: #000;
  background: none;
}
body.two-sidebars,
body.sidebar-first,
body.sidebar-second,
body {
  width: 640px;
}
#sidebar-first,
#sidebar-second,
.navigation,
#toolbar,
#footer-wrapper,
.tabs,
.add-or-remove-shortcuts {
  display: none;
}
.one-sidebar #content,
.two-sidebars #content {
  width: 100%;
}
#triptych-wrapper {
  width: 960px;
  margin: 0;
  padding: 0;
  border: none;
}
#triptych-first, #triptych-middle, #triptych-last {
  width: 250px;
}

/* ---------- Node Pages ---------- */
#comments,
#comments .title,
#comments form,
.comment_forbidden, .page-node .page-actions, #sb-search, .off-canvas-open, .off-canvas-close, #off-canvas, .breadcrumb, div.alert, div.row.gwiz, div.menu-block {
  display: none;
}
.border-bottom-primary, .border-top-primary {
	border: 0;
}
a.header__logo > img {
	width: 150px;
	height: 78px;
}
a[href]:after {
	content: "";
}
div.tagged.small > a.badge {
	border-radius:10px;
	border:1px solid;
}
.nav-wrap {
	display: none;
}
