#edit-field-carousel-images td .field-type-image, #edit-field-carousel-images td .field-type-text,
#edit-field-contacts td .field-name-field-people-contacts, #edit-field-contacts td .field-name-field-role-title  {
	width: 50%;
	float: left;
}
button.clear_links {
	margin-top: 19px;
}
.link-field-url.link-field-column{
width:45%;
}
.add_icon {
padding-right: 13px;
}

.views-field-nothing {
	display: none;
	float: right;
	margin: -123px auto auto 33px;
	position: absolute;
	width: 100px;
}
.filter-content .form-item-title {
	width: 150px;
}
/** Google Analytics Help Text **/
.no-of-visits-help-text , .no-of-views-help-text, .time-on-page-help-text, .bounce-rate-help-text, .entrances-help-text, .exit-rate-help-text{
background-image: url("/sites/default/files/assets/Circle-Info_0.png");
background-repeat: no-repeat;
background-position: 95% 50%;
width: 10%; 
background-size: 12px;
}
/* .filter-content .chosen-container-single .chosen-single {
	background: none !important;
	border: 1px solid #aaa;
	border-radius:0px;
	width:200px;  
} */
.filter-content  #edit-tid-wrapper{
	width:200px;
}
.filter-content .views-widget-filter-name {
	width: 140px;
}
.filter-content .views-widget-filter-created {
	width: 140px;
}
.filter-content .form-item-created-min{
	float:left;
}
.filter-content .form-item-created-max  {
	float:left;
	margin-left: 20px;
}
.filter-content .form-item-created-max label, .text-format-wrapper fieldset {
	display:none;
}
.filter-content .form-text {
	color: #666;
	width: 125px;
}
.pane-title {
	color: #006993;
	border-bottom: 2px solid #006993;
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.26;
  border-radius: 0;
  height: 35.2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
  .btn:hover, .btn:focus, .btn.focus {
    color: #fff;
    text-decoration: none; }
  .btn:active, .btn.active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
  .btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none; }
  .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: none; }

.node-form  a.imce-filefield-opener, .node-form div.image-widget-data, .pseudo-link  {
  float: left;
}
.pseudo-link {
	display: inline-block;
	min-height: 18px;
	cursor: pointer;
	padding: 4px 17px;
	margin-bottom: 1em;
	margin-right: 1em;
	color: #5a5a5a;
	text-align: center;
	font-weight: normal;
	border: 1px solid #e4e4e4;
	border-bottom: 1px solid #b4b4b4;
	border-left-color: #d2d2d2;
	border-right-color: #d2d2d2;
	background: url(../images/buttons.png) 0 0 repeat-x;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}

/*
.node-form  a.imce-filefield-opener, .imce-filefield-opener.form-submit {
	background: #1b9ec6 none repeat scroll 0 0;
	background: rgba(0, 0, 0, 0.51) none repeat scroll 0 0;
	display: block;
	color: #fff;
	text-decoration:none;
	padding: 5px;
}
*/
.imce-filefield-opener.form-submit {
	border: none;
	border-radius: 0px;
	font: normal 100%/1.5em "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	margin: 0px 10px 0px 0px !important;
	float: left;
}
.node-form  div.image-widget-data input, #edit-settings-image-upload {
	margin-left: 15px;
}
#edit-settings-image-upload {
	padding: 2px;
	border: 1px solid #ccc;
	border-top-color: #999;
	background: #fff;
	color: #333;
}
.node-microsite-form .image-widget-data input {
	display: inline;
	font-size: 14px;
}
#career-learning-settings .form-type-managed-file {
	padding: 0px;
}
/*
#builder-content-configure-form .form-type-managed-file .pseudo-link,
#career-learning-settings .form-type-managed-file .pseudo-link {
	display: block;
	float: left;
	margin-right: 10px;
	background: #1b9ec6 none repeat scroll 0 0;
	background: rgba(0, 0, 0, 0.51) none repeat scroll 0 0;
	padding: 4px 15px;
	color: #FFF;
	font-size: 13px;
	cursor: pointer;
}
*/
#career-learning-settings .file-widget .ajax-processed,
.node-form .file-widget .form-submit.ajax-processed {
	margin-left: 15px;
}
.node-form  .form-submit,
.node-article-form #edit-actions .form-submit, 
.node-announcements-form #edit-actions .form-submit,
.node-microsite-form #edit-actions .form-submit {
	margin-left: 0px;
}
.node-article-form fieldset .fieldset-legend ,.node-announcements-form fieldset .fieldset-legend {
	/*padding-left: 0px;*/
	text-transform: none;
}
.node-article-form fieldset.date-combo .container-inline-date .date-padding, 
.node-article-form fieldset .fieldset-wrapper, 
.node-announcements-form fieldset.date-combo .container-inline-date .date-padding, 
.node-announcements-form fieldset .fieldset-wrapper,
.node-microsite-form fieldset.date-combo .container-inline-date .date-padding, 
.node-microsite-form fieldset .fieldset-wrapper {
	padding: 0px;
}
.node-microsite-form input.form-file {
	padding: 2px;
	border: 1px solid #ccc;
	border-top-color: #999;
	background: #fff;
	color: #333;
}
.panel-pane.pane-node-form-author h2.pane-title,
.panel-pane.pane-node-form-publishing h2.pane-title {
  display: none;
}

/*Hiding Show all link in IMCE Search results */
#imce-search-results div a, body.page-admin-structure-taxonomy-channel .action-links,
#advpoll-choice-values .form-type-checkbox, #advpoll-choice-values div span.form-required,
#edit-advpoll-options-und .form-item-advpoll-options-und-block {
  display: none !important;
}
.page-node-edit-builder-popup #edit-actions #edit-unpublish,
.page-node-edit-builder-popup #edit-actions a{
	display: none;
	margin-top: 0px;
}
.highlight-panel {
	background: #ebf3f7 none repeat scroll 0 0;
	color: #7eb0cb;
	display: inline-block;
	font-size: 20px;
	margin: 0;
	padding: 15px;
	width: 100%;
}		
.panel {
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 0;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	margin-bottom: 20px;
}
/* For Analytics Reports */
#chart-google-analytics-reports-summary--attachment-1{min-height:550px;}
#nodequeue-arrange-subqueue-form-1 .tabledrag-toggle-weight-wrapper,
.nodequeue-dragdrop .tabledrag-hide,
#secured-link-node-form .container-inline-date, #faq-node-form .container-inline-date,
.node-form .form-item-path-pathauto {
	display:none;
}
/* .node-article-form table#field-articles-container-values thead th,
.node-article-form  .tabledrag-toggle-weight-wrapper, .node-announcements-form  .tabledrag-toggle-weight-wrapper, */
.container-inline-date #edit-date .form-item-date-date label/* ,
.node-announcements-form table#field-announcements-container-values thead th */{
	display:none;
}
/* Responsive Preview */
/* .page-user-dashboard ul#responsive-preview-navbar-tab, .page-admin ul#responsive-preview-navbar-tab{
	display:none !important;
} */
ul#responsive-preview-navbar-tab .responsive-preview-device {
	background: none;
	border: none;
	color: #EEE;
	cursor: pointer;
	font: inherit;
	line-height: 1;
	margin: 0;
	padding: 0.25em 0;
}
ul#responsive-preview-navbar-tab{
	margin-bottom : 0;
}
ul#responsive-preview-navbar-tab li {
	display: inline-block;
	border-right: 1px solid #323232;
	padding:0px 8px;
}
ul#responsive-preview-navbar-tab li.last {
	display:none;
}
.responsive-preview-frame #admin-menu{
	display:none;
}
body.responsive-preview-frame{
	margin-top: 0 !important;
}
/* .node-article-form table#field-articles-container-values, 
.node-article-form table#field-articles-container-values tr,
.node-announcements-form table#field-announcements-container-values,
.node-announcements-form table#field-announcements-container-values tr{
	border: none;
} */
#dashboard .canvas-content p{
	display:none;
}
.container-inline-date{display:inline-block;}
.field-name-field-expiry-date{display:inline-block;}
.field-name-field-expiry-date .form-item{padding-top: 0 !important;}
.node-form .field-name-field-expiry-date input {
	margin-top:5px;
}
.responsive-preview-frame #branding {
  display: none;
}
.responsive-preview-frame #page {
  margin: 0px;
	padding: 0px;
}
span.grid_24 {
	background-image: url("../images/24_grid.png");
	background-repeat: no-repeat;
	display: inline-block;
	height: 32px;
	width: 200px;
}
span.grid_16 {
	background-image: url("../images/16_grid.png");
	background-repeat: no-repeat;
	display: inline-block;
	height: 33px;
	width: 137px;
}
span.grid_8 {
	background-image: url("../images/8_grid.png");
	background-repeat: no-repeat;
	display: inline-block;
	height: 33px;
	width: 68px;
}
.node-image_gallery-form input[type=radio] {
	vertical-align: super;
}
/*
.modal-content.popups-body .form-submit {
	background: #1b9ec6 none repeat scroll 0 0;
	background: rgba(0, 0, 0, 0.51) none repeat scroll 0 0;
	border-radius: 0px;
	color: #fff;
	border: none;
	font: inherit;
}
*/
.tabledrag-toggle-weight, #advpoll-node-form  table.field-multiple-table tr td div.form-type-checkbox{
	display: none;
}
.cancel {
	margin-left:10px;
}
.hide{
	display:none !important;
}
.form-item input.error, .form-item textarea.error, .form-item select.error {
  border: 2px solid red !important;
}
.page-node-add-links-builder-popup button.clear_links {
  margin-top: 15px;
}
.node-preview_blurb-form #counter {
	color:#666;
}
#nodequeue-arrange-subqueue-form-12 #edit-actions-reverse ,
#nodequeue-arrange-subqueue-form-11 #edit-actions-reverse,
#nodequeue-arrange-subqueue-form-12 #edit-actions-shuffle ,
#nodequeue-arrange-subqueue-form-11 #edit-actions-shuffle,
#nodequeue-arrange-subqueue-form-12 #edit-actions-clear ,
#nodequeue-arrange-subqueue-form-11 #edit-actions-clear {
  display: none;
}
body.admin-menu #admin-menu {
	font-size: 12px;
}
.entityconnect-edit.edit-icon :first-child {
	border-radius: 0px;
	border: 0px;
}
#admin-menu .dropdown a, #admin-menu .dropdown li > span {
	padding: 4px 6px;
	line-height: 18px;
}
.file-widget .messages {
	margin-top:40px ;
}
.view-filter-content .form-item-field-channel-tid .chosen-container {
	width: 300px !important;
}
#builder-config-settings #edit_data_publication_roles_chosen {width:1000px !important;}
#microsite-node-form #edit_field_dept_authors_und_chosen {width:500px !important;}
#imce-upload-form .form-item-imce .description, .view-filter-content .vbo-views-form.no-access fieldset,.view-filter-content .vbo-views-form.no-access .views-field-views-bulk-operations{display:none;}
#views-form-pending-announcements-page td.views-field-edit-node a {
	text-transform: capitalize;
}
th.no-of-visits-help-text:hover span.num_of_visits, 
th.no-of-views-help-text:hover span.num_of_views,
th.time-on-page-help-text:hover span.time_on_page,
th.bounce-rate-help-text:hover span.bounce_rate,
th.entrances-help-text:hover span.entrances,
th.exit-rate-help-text:hover span.exit_rate {
	display:block;
	z-index:9;
}
span.num_of_visits, span.num_of_views, span.time_on_page, span.bounce_rate, span.entrances, span.exit_rate{
	background:#F9F9F1;
	border: 1px solid #bebfb9;
	position:absolute;
	top: auto; 
	left:auto;
	display:none; 
	padding:2px 10px;
	text-transform:none;
}
th.no-of-visits-help-text, th.no-of-views-help-text, .view-google-analytics-reports-summary td ,.view-google-analytics-reports-summary td {
	text-align: left !important;
}
.page-node-webform #page .tabs-secondary,
.page-node-submission fieldset.webform-submission-info, 
.page-node-submission .webform-submission-navigation{
  display: none;
}
.node-webform .webform-component--answer-status {
	display: none;
}
/* Hiding admin menu wrapper inside download popup window */
body.page-node-add-downloads-popup #admin-menu-wrapper {
  display:none;
}
body.admin-menu.page-node-add-downloads-popup {
	margin-top: 0px !important;
}
.page-node-add-downloads-popup span.cancel{
	display: none; 
} 
div#edit-field-links .link-field-subrow img.add_icon {
	cursor:pointer;
}

#views-form-qa-submissions-page span.vbo-table-this-page {
	display: none;
}
.remove-icon {	
	margin-left: 10px !important;
	cursor: pointer;
} 
.form-type-textfield .entityconnect-add {
	padding-left:8px !important;
}

.form-type-textfield .edit-icon, .form-type-textfield .add-icon {
	height: 23px !important;
}
.page-admin-structure-epa-survey-results .excel-export{
	float:right;
  margin: 0px 10px 10px 0px;
}
.block-hide-title, .node-type-announcements .hide-field, .page-node-add-announcements .hide-field{
	display:none;
}
/* Microsite colors */
.builder-color-selector-wrapper,
div.field-name-field-org-chart,
div.field-name-field-ad-hoc-label,
div.field-name-field-ad-hoc-links,
div.field-name-field-subnav-page-links{
  margin-left: 30px;
}
div#edit-field-ad-hoc-links button.clear_links, div#edit-field-subnav-page-links button.clear_links {
	margin-top: 5px;
}
/* To push all the items under Microsite settings to the right side*/
.node-microsite-form div.fieldset-wrapper {
  margin-left : 40px;
}
body.admin-menu #admin-menu li{
	font-size: 12px;
}