.custom_contact_form  label {
	color: #666666;
	float: left;
	/*font-size: 12px;*/
	font-weight: bold;
	padding: 2px 10px 0 0;
	width: 220px;
} 
.custom_contact_form{
	border: 2px solid #6c6d71; 
	padding: 20px;
	overflow-y: scroll;
	height: 1330px;
}


.custom_contact_form  input, .custom_contact_form  select, .custom_contact_form textarea {
	/*font-size: 12px !important; */
	width: 248px;
}
.custom_contact_form .phone {
	width: auto !important;
}
.container-inline {
	float: left;
}
.form-item-phone2 label, .form-item-phone3 label,
.form-item-fax2 label, .form-item-fax3 label {
	display: none;
}
.custom_contact_form .form-submit{
  width: auto !important;
}

.custom_contact_form  #edit-add-product{
	float: none;
	margin-left: 24%;
	text-align: center;
	margin-bottom: 30px;
}
.container-inline-date .date-padding{
    padding: 0 !important;
}

/* .custom_contact_form, .custom_contact_form .instructions, .custom_contact_form .instructions ul , .custom_contact_form #edit-intro {
    font-size: 11px;
} */
/* Styles added after Migration. */
.custom_contact_form fieldset legend{
	background : none;
	border : none;
	position : relative;
	margin-bottom: 0px;
	font-family: Trade Gothic,Helvetica Neue,Helvetica,Arial,sans-serif !important;
	height: auto;
}
.custom_contact_form fieldset .fieldset-legend{
	font-weight: bold;
	font-size: 22px;
}
.custom_contact_form div.care-instructions, .custom_contact_form div.instructions{
	width: auto !important;
}
.custom_contact_form #edit-add-product {
	margin-top: 20px;
}
/* Form Button styles */
.custom_contact_form .form-submit {
  color: #fff;
  background-color: #195695;
  /* background: none !important; */
  border-color : #15497f;
  border: 1px solid transparent;
  border-radius: 0;
  font-weight: 700;
  background-image: none;
  padding: 6px 12px;
  font-size: 16px;
  margin-bottom: 0;
  white-space: nowrap;
  display: inline-block;
}

.custom_contact_form .form-submit:hover,
.custom_contact_form .form-submit:active,
.custom_contact_form .form-submit:focus {
  color: #fff;
  background-color: #123d69;
  border-color:#0d2b4b;
}